// Badges
// -----------------------------------------------------------------------------------
.event-badges {
    position: absolute;
    top: 20px;
    right: 20px;
}
.adventure-badges {
    margin-top: 5px;

    .sm {
        margin-left: 2px;
    }
}
.badge-hour {
    background: url(../img/badges/badge_24hour.svg) center center no-repeat;
    background-size: cover;
}
.badge-paid {
    background: url(../img/badges/badge_paid.svg) center center no-repeat;
    background-size: cover;
}
.badge-sponsored {
    background: url(../img/logo/yazda_image_only.svg) center center no-repeat;
    background-size: cover;
}
.badge-adventure-leader {
    background: url(../img/badges/badge_adventure_leader.svg) center center no-repeat;
    background-size: cover;
}
.badge,
.badge-waiver,
.badge-hour,
.badge-paid,
.badge-sponsored,
.badge-adventure-leader {
    display: inline-block;
    text-align: center;
    img {
        width: 100%;
        height: 100%;
    }
    &.sm {
        width: 15px;
        height: 15px;
        line-height: 15px;
        font-size: 15px;
    }
    &.md {
        width: 25px;
        height: 25px;
        line-height: 25px;
        font-size: 25px;
    }
    &.lg {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 40px;
    }
}
.badge-list {
    margin: -5px 0 0 0 !important;
    .item-divider {
        text-align: center;
    }
    .item {
        height: 44px;
        span {
            position: absolute;
            top: 8px;
            left: 10px;
            margin-left: 12px !important;
            padding: 0;
        }
        h2 {
            margin: 0 !important;
            padding: 2px 0 0 50px;
            text-transform: capitalize;
            line-height: 1em;
        }
    }
}
// Adventure Leader Badge Placement
// -----------------------------------------------------------------------------------
.adventure-leader-badge {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
}
.thumb-hosted {
    .adventure-leader-badge {
        top: -5px;
        right: -9px;
    }
}
.thumb {
    .adventure-leader-badge {
        right: -5px;
    }
}
.chat-search-pic {
    .adventure-leader-badge {
        top: -5px;
        right: -9px;
    }
}
.profile-pic-left,
.profile-pic-right {
    .adventure-leader-badge {
        position: absolute !important;
        top: 0;
        right: 0;
    }
}
