.social-share {
    .button {
        overflow: hidden;
        border-radius: 50px;
        margin: 0 !important;
        background-color: transparent;
        border-width: 2px;
        width: 55px;
        height: 55px;
        &.icon-large:before {
            line-height: 81px !important;
            font-size: 72px !important;
        }
        &.icon-xlarge:before {
            line-height: 111px !important;
            font-size: 102px !important;
        }
    }
    .button-facebook {
        border-color: $balanced;
        color: $balanced;
        &:hover {
            color: white;
            background-color: $facebook-color;
            border-color: $facebook-color;
        }
    }
    .button-twitter {
        border-color: $balanced;
        color: $balanced;
        &:hover {
            color: white;
            background-color: $twitter-color;
            border-color: $twitter-color;
        }
    }

    .button-message {
        border-color: $balanced;
        color: $balanced;
        &:hover {
            color: white;
            background-color: $message-color;
            border-color: $message-color;
        }
    }    
    .button-email {
        border-color: $balanced;
        color: $balanced;
        margin-right: 5px !important;
        &:hover {
            color: white;
            background-color: $email-color;
            border-color: $email-color;
        }
    }
}
.float-button {
    background-color: $positive;
    color: $stable;
    border-radius: 50%;
    padding: 30px;
    font-size: 40px;
    position: fixed;
    bottom: 10%;
    right: 5%;
    z-index: 1000;
    -webkit-box-shadow: 6px 6px 20px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 6px 6px 20px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 6px 6px 20px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    .badge {
        position: absolute;
        right: 0;
        top: 0;
        padding: 1px 6px;
        font-weight: 300;
        font-size: 11px;
        background-color: $assertive;
        color: $stable;
    }
    .content {
        position: absolute;
        left: 0;
        top: 50%;
        height: 100%;
        width: 100%;
        text-align: center;
        margin-top: -20px;
        color: $stable;
    }
}
.no-adventure-btn {
    padding: 30px 0;
    height: 575px;
    border: 1px solid $energized !important;
    padding: 20px 0 30px !important;
    background-color: rgba($energized, 0.9);
    h1, h2, h4 {
        color: $stable;
        font-weight: 300;
    }
    .new-adventure-logo {
        width: 150px;
        height: 150px;
        margin-bottom: 10px;
    }
    h2 {
        font-size: 22px;
    }
    h4 {
        font-size: 18px;
    }
    span {
        font-weight: 700;
    }
}
.ya-na-btn {
    background-color: $darkest !important;
    border: 3px solid $darkest;
    .button {
        border: 0;
        color: $stable;
        font-size: 16px;
        text-transform: uppercase;
        padding: 2px !important;
        display: inline-block;
        background-color: $dark-lighter;
        border: 2px solid $dark-lighter;
        margin-left: 1px !important;

        &.active {
            background-color: rgba($balanced, 1);
            border: 2px solid darken($balanced, 10%);
            margin-right: 1px !important;
        }
    }
}
.friends-btn {
    padding: 0 !important;
    margin: 10px 0 5px 0;
    .button {
        border: 0;
        color: $stable;
        font-size: 14px;
        text-transform: uppercase;
        padding: 0 !important;
        margin: 0 !important;
    }
    i {
        margin-right: 5px;
    }
    .button:first-child {
        background-color: rgba($energized, 1);
    }
    .button:last-child {
        background-color: $calm;
    }
}
.add-friend-btn {
    margin: 0 !important;
    .button {
        margin: 0 0 5px 0 !important;
    }
}
.cancel-adventure-btn {
    margin: 5px 0 0 0 !important;
    border: 0 !important;
}
