// Header/Footer
// -----------------------------------------------------------------------------------
.tab-icon {
    font-size: 32px !important;
    padding-top: 3px;

    &.ion-ribbon-b {
        font-size: 28px !important;
        padding-top: 6px !important;
    }
}

.tabs {
    border-top: 0 !important;
    border-bottom: 0 !important;
}

.bar-positive {
    border-bottom: 0 !important;
}

.bar-positive {
    .button-clear {
        color: $stable !important;
        font-weight: 500 !important;
    }
}

.title {
    color: $dark !important;
    font-weight: 500 !important;
}

.tab-item-active {
    color: $energized !important;
    border-bottom: 1px solid transparent !important;
}

// General Resets
// -----------------------------------------------------------------------------------
.text-refreshing {
    display: none;
}

.rsvp {
    font-weight: bolder;
    color: $balanced !important;

    &.small {
        padding-left: 10px;
        font-size: 12px;
    }
}

//Removes default top box inner shadow for iOS inputs
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

// Popups
// -----------------------------------------------------------------------------------
.popup-head {
    background-color: $stable;
    border: 0;
}

.popup-title,
.popup-sub-title {
    color: $dark;
    line-height: 1em;
}

.popup-sub-title {
    font-size: 11px;
}

.popup-body {
    color: $dark;
    input {
        color: $dark;
        text-align: center;
    }
    ::-webkit-input-placeholder {
        color: $dark;
        opacity: 0.5;
    }
    :-moz-placeholder {
        /* Firefox 18- */
        color: $dark;
        opacity: 0.5;
    }
    ::-moz-placeholder {
        /* Firefox 19+ */
        color: $dark;
        opacity: 0.5;
    }
    :-ms-input-placeholder {
        color: $dark;
        opacity: 0.5;
    }
}

.popup-buttons {
    background-color: $stable;
    .button {
        border-radius: 0 !important;
        border: 0 solid $dark !important;
        font-weight: 500 !important;
    }
}

// Errors & Validation
// -----------------------------------------------------------------------------------
.form-errors {
    padding: 2px 0 2px 20px;
    background-color: rgba($energized, 0.5) !important;
    color: rgba($stable, 0.6) !important;
    text-align: left;
    font-size: 11px;
    letter-spacing: 1px;
}

// Additional Colors
// -----------------------------------------------------------------------------------
.balanced-light {
    color: $balanced-light;
}

// Background Overlays
// -----------------------------------------------------------------------------------
.background-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $dark;
    z-index: 1;
    opacity: 0.4;
}

.background-overlay-profile {
    position: absolute;
    width: 100%;
    height: 400px;
    top: 0;
    left: 0;
    background-color: $darker;
    z-index: 1;
    opacity: 0.7;
}

.epic-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: center center no-repeat;
    background-size: cover;
    z-index: 0;
    opacity: 0.8;
}

// Item Dividers
// -----------------------------------------------------------------------------------
.adventures-index,
.invites-index,
.more-index,
.user-edit,
.settings-index,
.profile-info {
    .item-divider {
        color: rgba($stable, 0.5) !important;
        padding: 12px 20px 10px 20px !important;
        font-weight: 300;
        font-size: 14px;
        text-align: left;
    }
}

// Items
// -----------------------------------------------------------------------------------
.item {
    border-top: 1px solid $dark;
}

.item-input {
    background-color: $dark;
    border: 0;
    line-height: 1.6em;
}

.item-select {
    select {
        color: $stable !important;
        text-align: left;
        background-color: transparent;
    }
}

// Adventure
.adventures-index {
    .item {
        padding: 5px 10px;
    }
}

.adventures-index, .invites-index {
    .item-divider {
        padding: 7px 20px 10px 25px !important;
    }
}

.adventure-edit-wrapper {
    .item {
        border-bottom: 0;
    }
}

// Friends
.friends-list {
    .item {
        padding: 2px 0 0 0 !important;
    }
}

// User Edit
.profile-info {
    .item {
        padding: 10px 20px !important;
        border: 0 !important;
        background-color: $dark;
        border-bottom: 1px solid $darker;
        color: $stable !important;
    }
}

// Invites
.invites-index {
    .item {
        padding: 0 15px 15px 15px;
    }
}

// More
.more-index {
    .item {
        color: rgba($stable, 1);
        padding: 15px 20px;
        i {
            margin-left: 7px;
            font-size: 24px;
        }
        span {
            margin-left: 40px;
        }
    }
}

// Settings
.settings-index {
    .item {
        background-color: $darker;
        i {
            margin-left: 7px;
            font-size: 24px;
        }
    }
    .item-input {
        border-bottom: 1px solid $dark !important;
    }
    .input-label {
        font-size: 14px;
        text-transform: capitalize;
        color: rgba($stable, 1);
        font-size: 16px;
    }
}

// User Item
// -----------------------------------------------------------------------------------
.user-item-wrapper {
    padding: 0;
}

.user-item {
    padding: 17px 20px 15px 20px;
}

.user-item-name {
    color: $stable;
    text-transform: capitalize;
    margin-top: -5px !important;
    font-size: 16px !important;
    font-weight: 300;
}

.user-item-check {
    position: absolute;
    right: 30px;
    top: 37px;
    font-size: 28px;
    color: rgba($energized, 0.9) !important;
}

.selected {
    background-color: rgba($darkest, 1);
    transition: all 0.1s linear;
}

// Toggles
// -----------------------------------------------------------------------------------
.adventure-toggle,
.user-edit-toggle,
.settings-toggle {
    color: $stable;
    text-align: left !important;
    padding: 10px 0 10px 20px;
    text-transform: capitalize;
    span {
        line-height: 1.5em;
    }
}

.user-edit-toggle {
    background-color: $darker;
    font-size: 14px;
    span {
        line-height: 1.8em;
    }
}

// Textareas
// -----------------------------------------------------------------------------------
.user-edit-textarea {
    background-color: $darker;
}

.edit-adventure-input,
.new-adventure-input {
    textarea {
        min-height: 125px;
    }
}

.item-input {
    textarea {
        background-color: transparent;
        padding: 10px 0;
    }
}

// Chat Bubble Buttons
// -----------------------------------------------------------------------------------
.chat-index-btn,
.chat-show-btn {
    background-color: rgba($darkest, 0.9);
    -webkit-box-shadow: 0 0 0 -5px rgba($darkest, 1) !important;
    -moz-box-shadow: 0 0 0 -5px rgba($darkest, 1) !important;
    box-shadow: 0 0 0 -5px rgba($darkest, 1) !important;
    border: 0 !important;
    ouline: none;
    a {
        color: $energized !important;
    }
}

// New Adventure
// -----------------------------------------------------------------------------------
.new-adventure-title {
    font-weight: 300;
    span {
        font-weight: 500 !important;
    }
}

.adventure-type-list {
    i {
        margin-left: 2px !important;
    }
}

.adventures-index {
    background-color: transparent;
}

.adventure-time-stamp,
.adventure-type,
.adventure-number {
    font-size: 14px;
    color: rgba($stable, 0.5);
    text-transform: capitalize;
}

.adventure-time-stamp {
    text-transform: lowercase;

    i {
        margin-right: 5px;
    }
}

.adventure-type {
    margin: 0 0 5px 0;
    text-transform: capitalize;
    color: lighten($energized, 10%);
}

.adventure-time-stamp {
    color: rgba($stable, 1);
    text-transform: uppercase;
}

.adventure-name {
    margin: 5px 0 0 0;
    color: $stable;
    text-transform: capitalize !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

.adventure-location {
    color: rgba($stable, 0.5);
    font-size: 11px;
    margin-bottom: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.adventure-number {
    width: 90px;
    padding-top: 5px;
    margin-bottom: 5px;
    border-top: 1px solid $dark-light;
}

.new-adventure-wrapper,
.new-adventure-epic-finish {
    padding: 30px;
    text-align: center;
    z-index: 2;
    h1, h2 {
        text-transform: capitalize;
        span {
            font-weight: 500;
        }
    }
    h2 {
        span {
            font-size: 3em;
        }
    }
    h3 {
        display: block;
        width: 100%;
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
    }
    i {
        cursor: pointer;
        display: block;
        font-size: 96px !important;
        margin: 20px 0 0 0;
    }
}

.new-adventure-epic-finish {
    .share-with-friends {
        margin: 40px 0 20px 0 !important;
    }
    .epic-text {
        font-size: 2em;
        line-height: 1.8em;
        text-transform: capitalize;
        font-weight: 300;
        span {
            color: $energized;
            text-transform: uppercase;
            display: block;
            margin-bottom: 40px;
            text-shadow: 0 0 5px rgba($darkest, 0.8);
            font-weight: 700;
        }
    }
    p {
        font-weight: 500;
        font-size: 16px;
    }
}

.select-adventure-wrapper {
    background-color: $energized;
}

.select-adventure-icon {
    font-weight: 700 !important;
}

.new-adventure-map {
    .location-map {
        height: 91% !important;
    }
}

.placeholder-icon {
    font-size: 1.6em;
    margin-right: 5px;
}

.item-input {
    margin: 0;
    width: 100%;
    overflow: visible;
    border-bottom: 1px solid $darker !important;
    padding: 10px 20px;
    input {
        width: 50%;
        border-radius: 0;
        padding-left: 10px;
    }
}

.new-adventure-input {
    background-color: $darker;
}

.new-adventure-attendees {
    text-align: right;
    padding-right: 0 !important;
}

.form-icon {
    font-size: 1.4em;
    margin-right: 10px;
    color: rgba($stable, 0.7);
}

.public-checkbox {
    border: 0 !important;
    margin: 10px 0 0 10px;
    color: $stable;
    span {
        display: inline-block;
        margin: 12px 0 0 40px;
        font-size: 16px;
    }
}

// Adventure Show
// -----------------------------------------------------------------------------------
.adventure-show {
    .event-badges {
        top: 10px;
        right: 20px;
    }
    h1 {
        font-size: 20px;
        text-transform: capitalize;
        margin-bottom: 0 !important;
        font-weight: 400;
        color: $stable;
    }
    h4 {
        font-size: 16px;
        color: rgba($stable, 0.7);
        font-weight: 400;
    }
    .adventure-type {
        background-color: rgba($darker, 0.2);
        padding: 13px 0 11px 25px !important;
    }
    .content {
        padding: 5px 20px;
        margin: 0 !important;
    }
    .content-info {
        background-color: $darker;
        margin: 0;
    }
    .adventure-name {
        padding-bottom: 0 !important;
        margin: 10px 0;
        text-transform: capitalize;
    }
    .adventure-host {
        margin-bottom: 5px;
        color: rgba($stable, 0.5);
        text-align: left !important;
        span {
            text-align: left;
            cursor: pointer;
        }
    }
    .adventure-time,
    .adventure-location {
        font-size: 12px !important;
        line-height: 1px;
        margin: -5px 0;
        .button {
            font-size: 14px;
        }
        span {
            padding-bottom: 10px;
        }
        .placeholder-icon {
            padding: 0;
            font-size: 24px;
        }
    }
    .adventure-location {
        width: 100%;
        padding-left: 7px;
        margin: 5px 0 20px 0;
        text-align: left;
        .button {
            margin-left: 2px;
            line-height: 2em;
            height: 10px !important;
            overflow: hidden !important;
        }
    }
    .adventure-description {
        background-color: $darker;
        border-top: 1px solid $dark;
        padding: 10px 20px;
        p {
            white-space: pre-wrap;
            margin: 0;
        }
    }
    .adventure-number {
        width: 100%;
        border-top: 0;
        padding: 0;
        margin: -10px 0 -10px 0;
    }
    .adventure-avatar {
        text-align: center;
        margin: 0 0 20px 0;
    }
}

// Adventure Edit
// -----------------------------------------------------------------------------------
.adventure-edit-wrapper {
    map {
        margin-bottom: -5px;
    }
}

// Friends
// -----------------------------------------------------------------------------------
.friend-request-item {
    padding: 0 5px 10px 10px;
}

// User List Modal
// -----------------------------------------------------------------------------------
.user-list-modal-wrapper {
    padding: 0 !important;
    background-color: $dark;
    .user-modal-list {
        padding: 0 !important;
    }
}

// User Item
// -----------------------------------------------------------------------------------
.user-item-wrapper {
    padding: 0;
}

.user-item {
    padding: 15px 20px;
}

.user-item-name {
    color: $stable;
    text-transform: capitalize;
    margin-top: -5px !important;
    font-size: 16px !important;
    font-weight: 300;
}

.user-item-check {
    position: absolute;
    right: 30px;
    top: 37px;
    font-size: 28px;
    color: rgba($energized, 0.9) !important;
}

.selected {
    background-color: rgba($darkest, 1);
}

// User Show
// -----------------------------------------------------------------------------------
.profile-background {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 0;
    padding: 20px 0;
    z-index: 1;
    background: center center no-repeat;
    background-size: cover;
    overflow: hidden;
}

.profile-avatar {
    position: relative;
    display: inline-block;
    z-index: 10;
}

.profile-name {
    position: relative;
    z-index: 10;
    h2 {
        font-weight: 300 !important;
        margin-bottom: 0;
        padding: 0;
        text-transform: capitalize;
    }
}

.profile-location {
    position: relative;
    z-index: 10;
    h4 {
        font-size: 16px;
        margin: 0;
        text-transform: capitalize;
    }
}

.profile-website {
    position: relative;
    z-index: 10;
    h5 {
        font-size: 14px;
        margin: 0;

        a {
            color: rgba(241, 241, 241, .7)!important;
        }
    }
}

.badge-list-profile {
    text-align: left;
    text-transform: capitalize;
    margin-top: -6px !important;
    .list {
        padding: 0 5px !important;
        h2 {
            margin-left: 5px;
        }
    }
    .badge {
        margin-right: -15px;
    }
    .badge-hour,
    .badge-paid,
    .badge-sponsored {
        display: inline-block;
        float: left;
        margin: 3px 13px 0 5px;
    }
}

.profile-info {
    text-align: left;
    text-transform: capitalize;
    .button-energized {
        color: $energized !important;
        text-align: center;
        border-bottom: 0 solid $energized !important;
        text-transform: uppercase;
        background-color: rgba($dark-light, 0.75) !important;
        font-size: 14px;
        margin: 5px;
        padding-top: 2px;
    }
    .profile-description {
        padding: 10px 20px;
        word-wrap: normal !important;
        height: auto !important;
        text-transform: none;
        p {
            white-space: pre-wrap;
            color: rgba($stable, 0.7) !important;
            line-height: 1.2em;
        }
    }
}

// User Edit
// -----------------------------------------------------------------------------------
.upload-avatar,
.upload-background {
    color: $energized;
    position: absolute;
    font-size: 36px;
    z-index: 4;
    opacity: 0.8;
    cursor: pointer;
}

.upload-avatar {
    bottom: 50px;
    left: 57px;
}

.upload-background {
    bottom: 15px;
    right: 20px;
}

// Invites
// -----------------------------------------------------------------------------------
.thumb-invite {
    vertical-align: text-top;
    height: 50px;
}

.invite-time-stamp {
    color: $stable;
    font-size: 12px;
    margin-bottom: 5px;
    span {
        font-weight: 700;
        margin-right: 5px;
    }
}

.invite-location {
    color: rgba($stable, 0.5);
    font-size: 11px;
    margin: -5px 0 8px 5px;
}

.platform-android .bar-subheader.has-tabs-top{
    top:93px;
}

.platform-android .has-subheader.has-tabs-top{
    top:137px;
}
