/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Lato:400,700);

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path:"../lib/ionic/fonts" !default;
 .card,
.list-inset {
    background-color: transparent !important;
}
// Include all of Ionic
@import "scss/variables/variables";
@import "www/lib/ionic/scss/ionic";
@import "scss/buttons";
@import "scss/utility/utility";
@import "scss/utility/datetimepicker";
@import "scss/adventures/adventures";
@import "scss/adventures/chat.scss";
@import "scss/wizard/wizard";
@import "scss/utility/images";
@import "www/fonts/yazda/yazda";
@import "scss/badges";
@import "scss/custom";

 div.pac-container.pac-logo.hdpi {
    left: 0 !important;
    right: 0 !important;
    width: 100% !important;
}
/** Styling for the username field **/

label.item.has-error {
    border-bottom: 2px solid $calm;
    color: red !important;
}
