// Login/Signup Landing
// -----------------------------------------------------------------------------------
.login-wrapper {
    background-color: #1a1a1a;
    width: 100%;
    height: 100%;
    .landing-logo {
        width: 150px;
        height: 150px;
        margin: 30px auto 20px auto;
        z-index: 2;
        border-radius: 50%;
    }
    .facebook-login-button,
    .strava-login-button {
        color: #f1f1f1;
        border: 0;
        margin: 0 auto !important;
        width: 98%;
        &:hover {
            color: #f1f1f1;
        }
    }
    .strava-login-button {
        img {
            height: 20px !important;
            margin-bottom: -5px;
        }
    }
    .facebook-login-button {
        background-color: #3b5998;
    }
    .strava-login-button {
        background-color: #E34402;
        margin-top: 3px !important;
    }
    input {
        margin: 0 !important;
        padding: 0 !important;
        color: #f1f1f1;
    }
    .button-block {
        margin-bottom: 0;
    }
    .help-wrapper {
        button {
            white-space: nowrap;
        }
    }

    .terms {
        color: #515151;
        margin-top: 10px;
        margin-bottom: 15px;
        font-size: 10px;
        text-align: center;
    }
}
