/* line 3, C:/apps/yazda-app/scss/landing.scss */
.login-wrapper {
  background-color: #1a1a1a;
  width: 100%;
  height: 100%; }
  /* line 7, C:/apps/yazda-app/scss/landing.scss */
  .login-wrapper .landing-logo {
    width: 150px;
    height: 150px;
    margin: 30px auto 20px auto;
    z-index: 2;
    border-radius: 50%; }
  /* line 15, C:/apps/yazda-app/scss/landing.scss */
  .login-wrapper .facebook-login-button,
  .login-wrapper .strava-login-button {
    color: #f1f1f1;
    border: 0;
    margin: 0 auto !important;
    width: 98%; }
    /* line 20, C:/apps/yazda-app/scss/landing.scss */
    .login-wrapper .facebook-login-button:hover,
    .login-wrapper .strava-login-button:hover {
      color: #f1f1f1; }
  /* line 25, C:/apps/yazda-app/scss/landing.scss */
  .login-wrapper .strava-login-button img {
    height: 20px !important;
    margin-bottom: -5px; }
  /* line 30, C:/apps/yazda-app/scss/landing.scss */
  .login-wrapper .facebook-login-button {
    background-color: #3b5998; }
  /* line 33, C:/apps/yazda-app/scss/landing.scss */
  .login-wrapper .strava-login-button {
    background-color: #E34402;
    margin-top: 3px !important; }
  /* line 37, C:/apps/yazda-app/scss/landing.scss */
  .login-wrapper input {
    margin: 0 !important;
    padding: 0 !important;
    color: #f1f1f1; }
  /* line 42, C:/apps/yazda-app/scss/landing.scss */
  .login-wrapper .button-block {
    margin-bottom: 0; }
  /* line 46, C:/apps/yazda-app/scss/landing.scss */
  .login-wrapper .help-wrapper button {
    white-space: nowrap; }

/*# sourceMappingURL=landing.css.map */