<ion-view title="Adventures">
    <ion-nav-buttons side="secondary">
        <button class="button button-clear" ui-sref="loggedIn.adventures-new">
            Create
        </button>
    </ion-nav-buttons>
    <ion-content class="adventures-index">
        <ion-refresher pulling-text="PULL TO REFRESH" pulling-icon="ion-ios-arrow-down" on-refresh="adventures.refresh()"></ion-refresher>
        <ion-list>
            <div collection-repeat="adventure in adventures.data | limitTo:adventures.pageSize | groupByDayMonthYear" divider-collection-repeat>
                <ion-item style="{{backgroundStyle(adventure)}}">
                    <adventure-list-item adventure="adventure"></adventure-list-item>
                </ion-item>
            </div>
            <div ng-if="adventures.data.length === 0">
                <ion-item class="vertical-align no-adventure-btn">
                    <div class="row" ui-sref="loggedIn.adventures-new">
                        <div class="col text-center">
                            <img class="new-adventure-logo" src="img/logo/yazda_image_only_white.svg">
                            <h2>No <span class="bold">adventures</span> in your area?
                            <br>Start by <span class="bold">creating one now!</span></h2>
                        </div>
                    </div>
                </ion-item>
            </div>
        </ion-list>
        <ion-infinite-scroll ng-if="adventures.moreData()" on-infinite="adventures.loadNextPage()" distance="1%"></ion-infinite-scroll>
    </ion-content>
    <div class="float-button chat-index-btn" ng-click="adventures.viewConversations()">
        <span class="badge" ng-if="adventures.unread()">
            {{adventures.unread()}}
        </span>
        <a class="content">
            <i class="ion-chatbubble-working"></i>
        </a>
    </div>
</ion-view>


