<profile-image user="owner" size="thumb"
               ui-sref="loggedIn.adventure-users-show({id: owner.id})"
></profile-image>
<profile-image ng-repeat="user in users"
               user="user"
               size="thumb"
               ui-sref="loggedIn.adventure-users-show({id: user.id})"
></profile-image>
<profile-image ng-repeat="invite in invites"
               user="invite.user"
               size="thumb"
               ui-sref="loggedIn.adventure-users-show({id: invite.user.id})"
></profile-image>
