<ion-view title="Invites" class="invites-index">
    <ion-content>
        <ion-refresher pulling-text="PULL TO REFRESH" pulling-icon="ion-ios-arrow-down" on-refresh="invites.refresh()"></ion-refresher>
        <ion-list class="item-text-wrap">
            <div
                collection-repeat="invite in invites.data | limitTo:invites.pageSize | groupByDayMonthYear" divider-collection-repeat>
                <ion-item>
                    <invite-item invite="invite" callback="invites.refresh()"></invite-item>
                </ion-item>
            </div>
            <div ng-if="invites.data.length === 0">
                <ion-item class="vertical-align no-adventure-btn">
                    <div class="row">
                        <div class="col text-center">
                            <h2>No Adventure Invites</h2>
                        </div>
                    </div>
                </ion-item>
            </div>
        </ion-list>
        <ion-infinite-scroll ng-if="invites.moreData()" on-infinite="invites.loadNextPage()" distance="1%"></ion-infinite-scroll>
    </ion-content>
</ion-view>

