<ion-view title="Clubs">
    <ion-header-bar class="bar bar-subheader item-input-inset bar-positive">
        <label class="item-input-wrapper">
            <i class="placeholder-icon ion-ios-search-strong stable"></i>
            <input type="search" placeholder="Search for clubs..."
                   ng-model="clubs.query"
                   ng-model-options="{ debounce: 750 }"
            ng-focus="clubs.isFocused = true"/>
        </label>
        <div class="buttons">
            <button class="button button-clear" ng-click="clubs.clear()">
                Cancel
            </button>
        </div>
    </ion-header-bar>
    <ion-nav-buttons side="secondary">
        <button class="button button-clear" ui-sref="loggedIn.clubs-new">
            Create
        </button>
    </ion-nav-buttons>
    <ion-content class="adventures-index">
        <ion-refresher pulling-text="PULL TO REFRESH"
                       pulling-icon="ion-ios-arrow-down"
                       on-refresh="clubs.refresh()"></ion-refresher>
        <ion-list>
            <div
                collection-repeat="club in clubs.data | limitTo:clubs.pageSize">
                <ion-item style="{{backgroundStyle(club)}}">
                    <club-list-item club="club"></club-list-item>
                </ion-item>
            </div>
        </ion-list>
        <ion-infinite-scroll ng-if="clubs.moreData()"
                             on-infinite="clubs.loadNextPage()" distance="1%"></ion-infinite-scroll>
    </ion-content>
</ion-view>


