<div class="row friend-request-item">
    <div class="col-20">
        <div class="row">
            <profile-image user="invite.user" size="thumb-invite"
                           ui-sref="loggedIn.profile-users-show({id: invite.user.id })"></profile-image>
        </div>
    </div>
    <div class="col-80">
        <div class="row">
            <div class="col">
                <div class="row invite-time-stamp">
                    {{fromNow(invite.updated_at) }}
                </div>
                <div class="row invite-time-stamp">
                    <span>{{invite.user.name}} </span> sent you a friend request
                </div>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <div class="button-bar ya-na-btn">
                    <a class="button" ng-click="accept(invite.id)">Ya
          </a>
                    <a class="button" ng-click="reject(invite.id)">Na</a>
                </div>
            </div>
        </div>
    </div>
</div>
