<div class="text-center">

    <div class="profile-background" style="background-image: {{user.background()}}">
        <div class="background-overlay-profile"></div>
        <div class="col">
            <profile-image user="user.data" size="profile"></profile-image>
        </div>
        <div class="row">
            <div class="col profile-name">
                <h2>{{user.data.name}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col profile-location">
                <h4>{{user.data.location}}</h4>
            </div>
        </div>
    </div>

    <div class="row" ng-hide="user.profile">
        <div class="button-bar add-friend-btn">
            <button class="button button-full button-energized" ng-click="user.addFriend(user.data.id)" ng-show="!user.data.request_sent">
                <i class="icon ion-ios-plus-empty"></i>
                Add Friend
            </button>
        </div>
    </div>

    <div class="row" ng-show="user.profile">
        <div class="button-bar friends-btn">
            <button class="button button-energized" ui-sref="loggedIn.users-search">
                <i class="ion-ios-search-strong "></i>
                Find Friends
            </button>
            <button class="button button-calm" ui-sref="loggedIn.friend-requests">
                <i class="ion-alert "></i>
                Friend Requests
            </button>
        </div>
    </div>

    <div class="badge-list-profile">
        <div class="list">
            <div class="item">
                <h2>adventures created</h2>
                <span class="badge">{{user.data.adventures_count}}</span>
            </div>
        </div>
    </div>

    <div class="profile-info">
        <div>
            <span class="button button-clear icon ion-ios-people button-full button-energized" ng-click="user.viewFriends()">
        {{user.data.following_count}} friends
                </span>
        </div>
        <div class="profile-description">
            <p>{{user.data.description}}</p>
        </div>
    </div>
</div>

