<ion-content>
    <div class="list list-inset text-center">
        <label class="item item-input">
            <i class="ion-ios-search-strong placeholder-icon"></i>
            <input placeholder="Name" ng-model="ctrl.club.name" type="text"/>
        </label>
        <label class="item item-input">
            <i class="ion-ios-location placeholder-icon"></i>
            <input placeholder="Location"
                   ng-model="ctrl.club.location"
                   places-auto-complete types="['(cities)']"
                   ng-focus="ctrl.disableTap()" type="search" id="club-places"/>
        </label>
        <label class="item item-input">
            <i class="ion-earth placeholder-icon"></i>
            <input placeholder="Website" ng-model="ctrl.club.website"
                   autocapitalize="none"
                   autocorrect="off"
                   type="search"/>
        </label>
        <label class="item item-input">
            <i class="ion-document-text placeholder-icon"></i>
            <input placeholder="Waiver URL (pdf only) (optional)"
                   ng-model="ctrl.club.remote_waiver_url"
                   type="text"
                   id="waiver"/>
        </label>
        <label class="item item-input user-edit-textarea">
            <textarea msd-elastic
                      placeholder="A little about your Club (optional)"
                      ng-model="ctrl.club.description"></textarea>
        </label>
    </div>
</ion-content>
