<ion-view title="Members" hide-tabs>
    <ion-header-bar class="bar bar-subheader item-input-inset bar-positive">
        <label class="item-input-wrapper">
            <i class="placeholder-icon ion-ios-search-strong stable"></i>
            <input type="search" placeholder="Search for members..."
                   ng-model="users.query"
                   ng-model-options="{ debounce: 750 }"/>
        </label>
        <div class="buttons">
            <button class="button button-clear" ng-click="users.clear()">
                Cancel
            </button>
        </div>
    </ion-header-bar>
    <ion-content class="friends-list">
        <ion-refresher pulling-text="PULL TO REFRESH"
                       pulling-icon="ion-ios-arrow-down"
                       on-refresh="users.refresh()"></ion-refresher>
        <ion-list>
            <div
                collection-repeat="user in users.users | limitTo:users.pageSize">
                <ion-item>
                    <user-item user="user"
                               ng-click="users.viewUser(user.id)"></user-item>
                    <!--TODO only if user is admin-->
                    <ion-option-button
                        class="button-energized"
                        ng-if="canChangeRole(user, 'admin')"
                        ng-click="setRole(user, 'admin')">Admin
                    </ion-option-button>
                    <ion-option-button
                        ng-if="canChangeRole(user, 'leader')"
                        ng-click="setRole(user, 'leader')"
                        class="button-assertive">Leader
                    </ion-option-button>
                    <ion-option-button
                        ng-if="canChangeRole(user, 'member')"
                        ng-click="setRole(user, 'member')"
                        class="button-calm">Member
                    </ion-option-button>
                </ion-item>
            </div>
            <div ng-if="users.users.length === 0">
                <ion-item class="vertical-align no-adventure-btn">
                    <div class="row">
                        <div class="col text-center">
                            <h2>No members. Share your club!</h2>
                        </div>
                    </div>
                </ion-item>
            </div>
        </ion-list>
        <ion-infinite-scroll ng-if="users.moreData()"
                             on-infinite="users.loadNextPage()"
                             distance="1%"></ion-infinite-scroll>
    </ion-content>
</ion-view>

