<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <button class="button button-clear" ng-click="closeList()">Done
        </button>
        <h1 class="title">New Message</h1>
    </ion-header-bar>
    <ion-header-bar class="bar bar-subheader item-input-inset bar-positive">
        <label class="item-input-wrapper">
            <i class="placeholder-icon ion-ios-search-strong stable"></i>
            <input type="search" placeholder="Search" autofocus
                   ng-model="query.text"
                   ng-model-options="{ debounce: 450 }" />
        </label>
    </ion-header-bar>
    <ion-content class="user-list-modal-wrapper">
        <ion-list class="user-modal-list">
            <ion-item class="user-modal-list"
                      collection-repeat="user in users| limitTo:pageSize"
                      item-height="105px" item-width="100%">
                <user-item class="user-modal-item" user="user" ng-click="addToUsers(user)"
                           checked="checked(user)"></user-item>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll
            ng-if="moreData()"
            on-infinite="loadNextPage()"
            distance="1%"></ion-infinite-scroll>
    </ion-content>
</ion-modal-view>
