<ion-view title="Profile">
  <ion-nav-buttons side="secondary">
    <button class="button button-clear" ui-sref="loggedIn.profile-edit">Edit</button>
  </ion-nav-buttons>
  <ion-nav-buttons side="primary">
    <button class="button button-clear" ng-click="$root.logout()">Logout</button>
  </ion-nav-buttons>
  <ion-content>
    <user-show profile="true"></user-show>
  </ion-content>
</ion-view>
