<div class="list list-inset">
  <label class="item item-input">
    <input type="password" ng-model="user.password" placeholder="New Password">
  </label>
  <label class="item item-input">
    <input type="password"
           ng-model="user.passwordConfirmation"
           placeholder="Password Confirmation">
  </label>

  <button class="button button-block button-energized" ng-click="user.changePassword(user)">
    Change Password
  </button>
  <div class="row text-center">
    <div class="col-50">
      <button ui-sref="login" class="button button-clear button-energized">
        Already on Yazda?
      </button>
    </div>
  </div>
</div>
