<ion-view class="login-wrapper">
    <ion-content>
        <div class="row">
            <img class="landing-logo" src="img/logo/yazda_image_only.svg">
        </div>
        <register-form></register-form>
    </ion-content>
</ion-view>

