<div class="list list-inset">
    <social-login broadcast="user.login"></social-login>
    <label class="item item-input">
        <input type="email" ng-model="login.username" placeholder="Email"
               autocapitalize="none"
               autocorrect="off">
    </label>
    <label class="item item-input">
        <input type="password" ng-model="login.password"
               placeholder="Password" autocapitalize="none"
               autocorrect="off">
    </label>
</div>
<div class="padding">
    <p class="terms">By logging in, you agree to our
        <a class="energized"
           onclick="cordova.InAppBrowser.open('https://yazdaapp.com/terms-of-service', '_blank'); return false;">
            Terms
        </a> and
        <a class="energized"
           onclick="cordova.InAppBrowser.open('https://yazdaapp.com/privacy', '_blank'); return false;">
            Privacy Policy
        </a>.
    </p>
    <button class="button button-block button-energized"
            ng-click="login.signIn(login)">
        Log in
    </button>
    <div class="row text-center help-wrapper">
        <div class="col-50">
            <button ui-sref="register"
                    class="button button-clear button-energized">
                Sign up!
            </button>
        </div>
        <div class="col-50" style="padding-right: 60px !important;">
            <reset-password></reset-password>
        </div>
    </div>
</div>

