<ion-view hide-tabs>
    <ion-nav-title>
        {{title}}
    </ion-nav-title>
    <ion-nav-buttons side="secondary">
        <button class="button button-clear"
                bi-click="updateAdventure()">
            Save
        </button>
    </ion-nav-buttons>
    <ion-content>
        <adventure-edit adventure="data"></adventure-edit>
    </ion-content>
</ion-view>
