<ion-view class="login-wrapper" view-title="Reset Password">
    <ion-content>
        <div class="row">
            <img class="landing-logo" src="img/logo/yazda_image_only.svg">
        </div>
        <reset-password-with-token></reset-password-with-token>
    </ion-content>
</ion-view>
