<ion-view title="Friend Requests" hide-tabs>
    <ion-content>
        <ion-refresher pulling-text="PULL TO REFRESH" pulling-icon="ion-ios-arrow-down" on-refresh="friendship.refresh()"></ion-refresher>
        <ion-list class="item-text-wrap">
            <div collection-repeat="invite in friendship.data | limitTo:friendship.pageSize">
                <ion-item>
                    <friend-request-item invite="invite" success="friendship.refresh()"></friend-request-item>
                </ion-item>
            </div>
        </ion-list>
        <ion-infinite-scroll ng-if="friendship.moreData()" on-infinite="friendship.loadNextPage()" distance="1%"></ion-infinite-scroll>
    </ion-content>
</ion-view>

