<ion-view hide-tabs>
    <ion-nav-buttons side="secondary">
        <button class="button button-clear"
                bi-click="ctrl.updateClub()">
            Save
        </button>
    </ion-nav-buttons>
    <club-edit></club-edit>
</ion-view>
