<ion-view hide-tabs>
    <ion-nav-title>
        {{club.data.name}}
    </ion-nav-title>
    <ion-nav-buttons side="secondary">
        <button class="button button-clear" ng-click="club.share()">
            Share
        </button>
        <button class="button button-clear"
                ng-click="club.editClub()"
                ng-if="club.data.role === 'admin'">
            Edit
        </button>
    </ion-nav-buttons>
    <back-button></back-button>
    <ion-content class="user-list">
        <club-show club="club.data"></club-show>
    </ion-content>
</ion-view>
