<div class="circle profile-avatar {{ctrl.size}}">
    <img
    ng-src="{{ctrl.profile_image()}}"
    class="circle ">
    <div class="adventure-leader-badge" ng-if="ctrl.user.is_adventure_leader">
        <div class="badge-adventure-leader {{ctrl.css_class()}}"></div>
    </div>
</div>
