<div class="row adventure-item">
    <div class="col">
        <div class="row"
             ui-sref="loggedIn.club-clubs-show({id: club.id})">
            <div class="col-20">
                <profile-image user="club" size="thumb"></profile-image>
            </div>
            <div class="col-80">
                <div class="adventure-name">
                    {{club.name}}
                </div>
                <div class="adventure-location">
                    {{club.location}}
                </div>

            </div>
        </div>
        <div class="row">
            <div class="adventure-number">
                {{club.adventures_count}} Adventures
            </div>
        </div>
        <!--<div class="row">-->
            <!--<div class="adventure-number">-->
                <!--{{club.member_count}} Adventurers-->
            <!--</div>-->
        <!--</div>-->
    </div>

</div>

