<ion-view title="Edit Profile" hide-tabs>
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-buttons side="secondary">
      <button class="button button-clear" bi-click="user.updateSettings()">
          Save</button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <user-edit></user-edit>
</ion-view>
