<div>
    <div>
        <label class="item-input-wrapper">
            <i class="ion-person-add placeholder-icon"></i>
            <input type="search" placeholder="Who do you want to message?" id="search" ng-focus="externalScope.openModal()" />
        </label>
    </div>
    <div class="select-users-wrapper">
        <div class="select-users" ng-repeat="user in externalScope.sendTo">
            <profile-image class="left" size="chat-search-pic"
                           user="user"></profile-image>{{user.name}}
        </div>
    </div>
</div>

