<ion-modal-view id="userMessagesView">
    <ion-header-bar class="bar-positive">
        <button class="button button-clear" ng-click="closeModal()"
                ng-show="messages.length > 0">Done
        </button>
        <h1 class="title">{{title}}</h1>
        <button class="button button-clear" ng-click="closeModal()"
                ng-hide="messages.length > 0">Cancel
        </button>
    </ion-header-bar>
    <div class="bar bar-subheader bar-positive chat-search"
         ng-hide="conversationId || data.id">
        <users-list-modal external-scope="externalScope"></users-list-modal>
    </div>
    <ion-content has-bounding="true" class="has-footer chat-wrapper"
                 delegate-handle="userMessageScroll">
        <div class="chat-background"></div>
        <div ng-repeat="message in messages" class="message-wrapper">
            <div ng-if="me.id == message.user.id">
                <profile-image class="profile-pic-left" size="profile-pic"
                               user="message.user"
                               ui-sref="loggedIn.adventure-users-show({id: message.user.id})"></profile-image>
                <div class="chat-bubble left">
                    <div class="message"
                         ng-bind-html="message.msg | nl2br | linky | hrefToJS">
                    </div>
                    <div class="message-detail">
                        <span class="bold">{{message.user.name}}</span> &middot;
                        <span>{{timeAgo(message.sent_at)}}</span>
                    </div>
                </div>
            </div>
            <div ng-if="me.id != message.user.id">
                <profile-image class="profile-pic-right right"
                               size="profile-pic" user="message.user"
                               ui-sref="loggedIn.adventure-users-show({id: message.user.id})"></profile-image>
                <div class="chat-bubble right">
                    <div class="message"
                         ng-bind-html="message.msg | nl2br | linky | hrefToJS">
                    </div>
                    <div class="message-detail">
                        <span class="bold">{{message.user.name}}</span> &middot;
                        <span>{{timeAgo(message.sent_at)}}</span>
                    </div>
                </div>
            </div>
            <div class="cf"></div>
        </div>
    </ion-content>
    <form ng-submit="sendMessage(input.message, conversationId)">
        <ion-footer-bar class="bar-stable item-input-inset message-footer"
                        keyboard-attach>

            <div class="list chat-textarea-footer">
                <div class="item item-input-inset">
                    <label class="item-input-wrapper">
                        <textarea msd-elastic ng-model="input.message" value=""
                                  minlength="1" maxlength="1500"
                                  placeholder="Type your message..."></textarea>
                    </label>
                    <button class="button button-medium button-clear"
                            type="submit"
                            ng-disabled="(!input.message || input.message === '') && message.sendTo.length > 1">
                        Send
                    </button>
                </div>
            </div>
        </ion-footer-bar>
    </form>
</ion-modal-view>

