<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <button class="button button-clear"
                ng-click="adventures.closeConversations()">Back
        </button>
        <h1 class="title">Messages</h1>
        <button class="button button-clear" ng-click="adventures.viewChat()">
            <i class="icon ion-ios-compose-outline"></i>
        </button>
    </ion-header-bar>
    <ion-content class="new-messages-wrapper" has-bounding="true">
        <div class="chat-background"></div>
        <ion-list
            ng-repeat="message in adventures.conversations | orderBy: 'sent_at':true | unique: 'conversationId' ">
            <ion-item ng-click="adventures.viewChat(message.conversationId)">
                <span class="badge" ng-if="convUnread(message.conversationId)">
                    {{convUnread(message.conversationId)}}</span>
                <div class="row">
                    <div class="col user-name">
                        {{sanatizeUserNames(message)}}
                    </div>
                </div>
                <div class="row">
                    <div class="col time-stamp">
                        {{timeAgo(message.sent_at)}}
                    </div>
                </div>
                <div class="row">
                    <div class="col message-text"
                         ng-bind-html="message.msg | nl2br"></div>
                </div>
                <div class="row">
                    <div class="col">
                        <profile-image
                            ng-repeat="img in images(message) | limitTo:5"
                            user="img" size="thumb"></profile-image>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-modal-view>

