<div class="row" ng-hide="hasPassedOrOwner(adventure)">
  <div class="button-bar ya-na-btn">
    <a class="button"
       ng-class="{'active' : isAttending(adventure)}"
       ng-click="accept(adventure)">Ya
    </a>
    <a class="button"
       ng-class="{'active' : isNotAttending(adventure)}"
       ng-click="reject(adventure)">Na</a>
  </div>
</div>
