<div class="content adventure-type">
    <adventure-type type="adventure.adventure_type"></adventure-type>
</div>
<div class="content content-info" class="profile-background"
     style="{{backgroundStyle(adventure)}}">
    <div class="row adventure-name">
        <div class="col">
            <h1>{{adventure.name}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>{{adventure.adventure_count}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col adventure-host">
            <profile-image user="adventure.owner"
                           size="thumb-hosted"></profile-image>
            Hosted by&nbsp;
        <span ui-sref="loggedIn.adventure-users-show({id: adventure.owner.id})"
              class="energized">
        {{adventure.owner.name}}
      </span>
        <span
            ui-sref="loggedIn.adventure-clubs-show({adventureId: adventure.id, id: adventure.club.id})"
            ng-if="adventure.club">&nbsp;via
            <span class="energized"> {{adventure.club.name}}
                </span>

        </span>
        </div>
    </div>
    <div class="row adventure-time">
        <div class="col">
            <i class="placeholder-icon ion-ios-stopwatch"></i>
            <span class="button button-clear button-inline"
                  ng-click="addToCalendar(adventure)">
                {{formatTime(adventure.start_time)}} to {{formatTime(adventure.end_time)}}
            </span>
        </div>
    </div>
    <div class="row adventure-location">
        <div class="col">
            <i class="placeholder-icon ion-ios-location"></i>
            <span class="button button-clear button-inline"
                  ng-click="openInMaps(adventure)">
      {{adventure.address}}
    </span>
        </div>
    </div>

</div>

<div class="badge-list">
    <div class="list">
        <div class="item" ng-if="adventure.reservation_limit">
            <span class="badge md">{{spotsLeft()}}</span>
            <h2 class="rsvp">{{adventure.reservation_limit >= adventure.attendings.length ? 'Spots Left!' : 'No more spots left' }}</h2>
        </div>
        <div class="item" ng-if="adventure.club.waiver_url"
             ng-click="openWaiver()">
            <span class="badge-waiver icon ion-document-text md"></span>
            <h2>Liability Waiver</h2>
        </div>
        <div class="item" ng-if="adventure.sponsored">
            <span class="badge-sponsored md"></span>
            <h2>Sponsored by yazda</h2>
        </div>
        <div class="item" ng-if="adventure.cost">
            <span class="badge-paid md"></span>
            <h2>Paid adventure</h2>
        </div>
        <div class="item" ng-if="adventure.duration_in_minutes > 1439">
            <span class="badge-hour md"></span>
            <h2>24+ hour adventure</h2>
        </div>
    </div>
</div>

<div class="content adventure-description" ng-if="adventure.description">
    <div class="row">
        <div class="col">
            <p ng-bind-html="adventure.description | linky | hrefToJS"></p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <adventure-respond-to adventure="adventure"></adventure-respond-to>
    </div>
</div>

<div class="content">
    <div class="row adventure-number">
        <div class="col">
            <h4>{{adventure.attendings.length + 1}} adventurers going</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <user-collection invites="adventure.attendings"
                             owner="adventure.owner"></user-collection>
        </div>
    </div>
</div>
