.popup {
    width: 300px !important;
}
.popup-body {
    .datetimepicker {
        min-height: 221px;
        width: inherit;
        table {
            width: 100%;
        }
    }
}
.glyphicon {
    vertical-align: top;
    display: inline-block;
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &:before {
        vertical-align: top;
        font-size: 32px;
        line-height: 32px;
        padding-right: 2px;
        padding-left: 2px;
        display: inline-block;
        padding: 0 0 1px 0;
    }
}
.glyphicon-arrow-right:before {
    content: "\f10a";
}
.glyphicon-arrow-left:before {
    content: "\f107";
}
