@font-face {
    font-family: 'yazda';
    src: url('../fonts/yazda/fonts/yazda.ttf?v=4.4.0') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'YazdaIcons';
    src: url('../fonts/icomoon.ttf?v=4.4.0') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.yic {
    display: inline-block;
    font: normal normal normal 14px/1 YazdaIcons;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.yic-hiking:before {
    content: "\e600";
}
.yic-24-hour:before {
    content: "\e601";
    font-size: 25px;
}
// Image Avatars
// -----------------------------------------------------------------------------------
.circle {
    vertical-align: middle;
    position: relative;
    border-radius: 50%;
    display: inline;
    img {
        width: 100%;
        height: 100%;
    }
}
.thumb,
.thumb-invite,
.profile,
.thumb-hosted,
.thumb-user {
    -webkit-box-shadow: 0 0 0 1px $darkest;
    -moz-box-shadow: 0 0 0 1px $darkest;
    box-shadow: 0 0 0 1px $darkest;
    background-color: $dark-lighter !important;
}
.thumb {
    height: 40px !important;
    width: 40px !important;
    margin-right: 5px;
    cursor: pointer;
}
.thumb-hosted {
    height: 20px !important;
    width: 20px !important;
    margin: 0 13px 0 -1px;
}
.thumb-invite {
    width: 58px;
    height: 58px !important;
    margin-top: 15px;
    cursor: pointer;
}
.thumb-user {
    width: 58px;
    height: 58px !important;
    cursor: pointer;
}
.profile {
    height: 144px;
    width: 144px;
    -webkit-box-shadow: 0 0 0 4px rgba($darkest, 0.2);
    -moz-box-shadow: 0 0 0 4px rgba($darkest, 0.2);
    box-shadow: 0 0 0 4px rgba($darkest, 0.2);
    margin: 0 auto;
}
