<ion-view hide-back-button="false" hide-tabs>
    <ion-nav-title>
        {{title}}
    </ion-nav-title>
    <ion-nav-buttons side="secondary">
        <button class="button button-clear" ng-click="shareAdventure(data)"
                ng-show="!data.private">
            Share
        </button>
        <button class="button button-clear"
                ui-sref="loggedIn.adventures-edit({id: data.id})"
                ng-show="data.is_owner && !data.canceled">
            Edit
        </button>
    </ion-nav-buttons>
    <back-button></back-button>
    <ion-content class="adventure-show">
        <adventure-show data="data"></adventure-show>
    </ion-content>
    <div class="float-button chat-show-btn" ng-click="viewChat()">
        <span class="badge badge-assertive" ng-if="messages.length > 0">
            {{messages.length}}
        </span>
        <a class="content">
            <i class="ion-chatbubbles"></i>
        </a>
    </div>
    <ion-footer-bar class="bar-assertive" ng-show="data.canceled">
        <h2 class="title">Canceled</h2>
    </ion-footer-bar>
</ion-view>
