/* allows the bar-footer to be elastic /*
/* optionally set a max-height */
/* maxlength on the textarea will prevent /*
/* it from getting too large also */
/* line 7, C:/apps/yazda-app/scss/adventures/chat.scss */
.bar-footer {
  overflow: visible !important; }

/* line 10, C:/apps/yazda-app/scss/adventures/chat.scss */
.bar-footer textarea {
  resize: none;
  height: 25px; }

/* fixes an ios bug bear */
/* line 16, C:/apps/yazda-app/scss/adventures/chat.scss */
button.ion-android-send {
  padding-top: 2px; }

/* add this to keep your footer buttons down
at the bottom as the textarea resizes */
/* line 22, C:/apps/yazda-app/scss/adventures/chat.scss */
.footer-btn-wrap {
  position: relative;
  height: 100%;
  width: 50px;
  top: 7px; }

/* line 28, C:/apps/yazda-app/scss/adventures/chat.scss */
.footer-btn {
  position: absolute !important;
  bottom: 0; }

/* line 32, C:/apps/yazda-app/scss/adventures/chat.scss */
img.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  bottom: 10px; }

/* line 39, C:/apps/yazda-app/scss/adventures/chat.scss */
img.profile-pic.left {
  left: 10px; }

/* line 42, C:/apps/yazda-app/scss/adventures/chat.scss */
img.profile-pic.right {
  right: 10px; }

/* line 45, C:/apps/yazda-app/scss/adventures/chat.scss */
.ion-email {
  float: right;
  font-size: 32px;
  vertical-align: middle; }

/* line 50, C:/apps/yazda-app/scss/adventures/chat.scss */
.message {
  font-size: 14px; }

/* line 53, C:/apps/yazda-app/scss/adventures/chat.scss */
.message-detail {
  white-space: nowrap;
  font-size: 14px; }

/* line 57, C:/apps/yazda-app/scss/adventures/chat.scss */
.bar.item-input-inset .item-input-wrapper input {
  width: 100% !important; }

/* line 60, C:/apps/yazda-app/scss/adventures/chat.scss */
.message-wrapper {
  position: relative; }

/* line 63, C:/apps/yazda-app/scss/adventures/chat.scss */
.message-wrapper:last-child {
  margin-bottom: 10px; }

/* line 66, C:/apps/yazda-app/scss/adventures/chat.scss */
.chat-bubble {
  border-radius: 5px;
  display: inline-block;
  padding: 10px 18px;
  position: relative;
  margin: 10px;
  max-width: 80%; }

/* line 74, C:/apps/yazda-app/scss/adventures/chat.scss */
.chat-bubble:before {
  content: "\00a0";
  display: block;
  height: 16px;
  width: 9px;
  position: absolute;
  bottom: -7.5px; }

/* line 82, C:/apps/yazda-app/scss/adventures/chat.scss */
.chat-bubble.left {
  background-color: #e6e5eb;
  float: left;
  margin-left: 55px; }

/* line 87, C:/apps/yazda-app/scss/adventures/chat.scss */
.chat-bubble.left:before {
  background-color: #e6e5eb;
  left: 10px;
  -webkit-transform: rotate(70deg) skew(5deg); }

/* line 92, C:/apps/yazda-app/scss/adventures/chat.scss */
.chat-bubble.right {
  background-color: #158ffe;
  color: #fff;
  float: right;
  margin-right: 55px; }

/* line 98, C:/apps/yazda-app/scss/adventures/chat.scss */
.chat-bubble.right:before {
  background-color: #158ffe;
  right: 10px;
  -webkit-transform: rotate(118deg) skew(-5deg); }

/* line 103, C:/apps/yazda-app/scss/adventures/chat.scss */
.chat-bubble.right a.autolinker {
  color: #fff;
  font-weight: bold; }

/* line 107, C:/apps/yazda-app/scss/adventures/chat.scss */
.user-messages-top-icon {
  font-size: 28px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -3px;
  right: 5px; }

/* line 115, C:/apps/yazda-app/scss/adventures/chat.scss */
.msg-header-username {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -3px; }

/* line 121, C:/apps/yazda-app/scss/adventures/chat.scss */
.cf {
  clear: both !important; }

/* line 124, C:/apps/yazda-app/scss/adventures/chat.scss */
a.autolinker {
  color: #3b88c3;
  text-decoration: none; }

/*# sourceMappingURL=chat.css.map */
