// Chat Search
// -----------------------------------------------------------------------------------
.chat-search {
    width: 100%;
    .placeholder-icon {
        color: $stable !important;
    }
    .select-users-wrapper {
        border-top: 1px solid rgba($stable, 0.2);
        padding: 10px 10px 10px 10px;
        margin: 5px 10px;
    }
    .select-users {
        display: inline-block;
        margin-right: 15px;
        margin-bottom: 10px;
        padding: 5px 0;
    }
    input {
        background-color: transparent;
        width: 100%;
    }
}
// Text Input Footer
// -----------------------------------------------------------------------------------
/* allows the bar-footer to be elastic /*
/* optionally set a max-height */

/* maxlength on the textarea will prevent /*
/* it from getting too large also */

.bar-footer {
    overflow: visible !important;
    border: 0 !important;
    z-index: 3;
    margin-bottom: -3px;
    margin-top: -2px;
}
.bar-footer textarea {
    resize: none;
    color: $dark !important;
    padding: 10px !important;
    margin-bottom: 5px !important;
}
.message-footer {
    overflow: hidden !important;
    // TODO Made this initial for dynamic changing height
    height: initial;
    padding: 0 !important;
    .item-input-inset {
        background-color: $dark;
    }
    label {
        padding: 0;
    }
    .chat-textarea-footer {
        width: 100%;
        bottom: 0;
        left: 0;
        margin: 0 !important;
        textarea {
            background-color: rgba($stable, 0.2) !important;
            border: 1px solid $darkest;
            border-radius: 4px !important;
            color: $stable !important;
            padding: 6px !important;
            width: 100% !important;
            min-height: 25px;
        }
        .button {
            text-transform: uppercase;
            border: 0;
            color: $stable;
            font-size: 16px;
            padding-bottom: 6px;
        }
    }
}
/* fixes an ios bug bear */

button.ion-android-send {
    padding-top: 2px;
}
/* add this to keep your footer buttons down
at the bottom as the textarea resizes */

.footer-btn-wrap {
    position: relative;
    height: 100%;
    width: 50px;
    top: 7px;
}
.footer-btn {
    position: absolute !important;
    bottom: 0;
}
// Message Wrapper
// -----------------------------------------------------------------------------------
.chat-wrapper {
    background-color: $energized !important;
    color: $dark !important;
}
.new-messages-wrapper {
    background-color: $dark !important;
    color: $dark !important;
    .badge {
        position: absolute;
        right: 14px;
        top: 10px;
        padding: 1px 6px;
        font-weight: 300;
        font-size: 11px;
        background-color: $assertive;
        color: $stable;
    }
    .user-name {
        font-size: 14px;
        color: $stable;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .time-stamp {
        font-size: 12px;
        color: rgba($stable, 0.5);
        margin-top: -10px !important;
    }
    .message-text {
        color: $light;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 5px;
        font-size: 14px;
    }
}
.ion-email {
    float: right;
    font-size: 32px;
    vertical-align: middle;
}
// Message Bubble
// -----------------------------------------------------------------------------------
.message-wrapper {
    position: relative;
    top: 0;
}
.message-wrapper:last-child {
    margin-bottom: 20px;
}
.message {
    font-size: 14px;
}
.message-detail {
    white-space: nowrap;
    font-size: 11px;
    color: rgba($dark, 0.5);
    span {
        margin: 0;
        padding: 0;
    }
}
.chat-bubble {
    position: relative;
    display: inline-block;
    padding: 10px 18px;
    margin: 10px;
    width: auto;
    max-width: 280px;
    border-radius: 15px;
    &:before {
        content: "\00a0";
        display: block;
        height: 16px;
        width: 9px;
        position: absolute;
        bottom: -7.5px;
    }
    &.left {
        background-color: $stable;
        float: left;
        margin-left: 66px;
        z-index: 1;
    }
    &.left:before {
        width: 35px;
        height: 25px;
        background-color: $stable;
        bottom: 0;
        left: -18px;
    }
    &.right {
        color: $stable;
        float: right;
        margin-right: 66px;
        background-color: $calm;
        z-index: 1;
    }
    &.right:before {
        width: 35px;
        height: 25px;
        bottom: 0;
        right: -18px;
        background-color: $calm;
        z-index: 1;
    }
}
.chat-bubble.right a.autolinker {
    color: #fff;
    font-weight: bold;
}
.user-messages-top-icon {
    font-size: 28px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -3px;
    right: 5px;
}
.msg-header-username {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -3px;
}
.cf {
    clear: both !important;
}
a.autolinker {
    color: #3b88c3;
    text-decoration: none;
}
// Chat Avatars
// -----------------------------------------------------------------------------------
.profile-pic-left,
.profile-pic-right {
    position: absolute !important;
    width: 45px !important;
    height: 45px !important;
    border-radius: 50%;
    bottom: 10px;
    -webkit-box-shadow: 0 -6px 0 10px $energized;
    -moz-box-shadow: 0 -6px 0 10px $energized;
    box-shadow: 0 -5px 0 11px $energized;
    background-color: lighten($energized, 5%) !important;
}
.profile-pic-left {
    left: 10px;
    z-index: 10;
}
.profile-pic-right {
    right: 10px !important;
    z-index: 10;
}
.chat-search-pic {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
}
