<div class="list list-inset">
    <social-login broadcast="user.wizard"></social-login>
    <label class="item item-input">
        <input type="text" ng-model="register.name" placeholder="Name">
    </label>
    <label class="item item-input">
        <input type="email" ng-model="register.email" placeholder="Email">
    </label>
    <label class="item item-input">
        <input type="password" ng-model="register.password" placeholder="Password">
    </label>
</div>
<div class="padding">
    <p class="terms">By clicking Begin Your Adventure, you agree to our
        <a class="energized"
           onclick="cordova.InAppBrowser.open('https://yazdaapp.com/terms-of-service', '_blank'); return false;">
            Terms
        </a> and
        <a class="energized"
           onclick="cordova.InAppBrowser.open('https://yazdaapp.com/privacy', '_blank'); return false;">
            Privacy Policy
        </a>.
    </p>
    <button class="button button-block button-energized" ng-click="register.register(register)">
        Begin Your Adventure
    </button>
    <div class="row text-center">
        <div class="col-50">
            <button ui-sref="login" class="button button-clear button-energized">
                Already on Yazda?
            </button>
        </div>
        <div class="col-50">
            <reset-password></reset-password>
        </div>
    </div>
</div>

