<ion-content>
    <div class="list list-inset text-center user-edit">
        <div class="profile-background"
             style="background-image: {{ctrl.background()}}">
            <i class="icon ion-ios-cloud-upload upload-background"
               title="Upload Background"></i>
            <div class="background-overlay-profile"
                 ng-click="ctrl.chooseWayToUploadPhoto(1125, 750, 'banner')">
            </div>
            <div class="col">
                <div class="circle profile profile-avatar"
                     ng-click="ctrl.chooseWayToUploadPhoto(275, 275, 'avatar')">
                    <img ng-src="{{ctrl.club.profile_image_url}}"
                         class="circle profile border-energized">
                    <i class="icon ion-ios-cloud-upload upload-avatar"
                       title="Upload Avatar"></i>
                </div>
            </div>
        </div>

        <label class="item item-input">
            <i class="ion-ios-search-strong placeholder-icon"></i>
            <input placeholder="Name" ng-model="ctrl.club.name" type="text"/>
        </label>
        <label class="item item-input">
            <i class="ion-ios-location placeholder-icon"></i>
            <input placeholder="Location"
                   ng-model="ctrl.club.location"
                   places-auto-complete types="['(cities)']"
                   ng-focus="ctrl.disableTap()" type="search" id="club-places"/>
        </label>
        <label class="item item-input">
            <i class="ion-earth placeholder-icon"></i>
            <input placeholder="Website" ng-model="ctrl.club.website"
                   type="search"/>
        </label>
        <!--<label class="item item-input">-->
            <!--<i class="ion-document-text placeholder-icon"></i>-->
            <!--<input placeholder="New Waiver URL (pdf only) (optional)"-->
                   <!--ng-model="ctrl.club.remote_waiver_url"-->
                   <!--type="text"-->
                   <!--id="waiver"/>-->
        <!--</label>-->
        <label class="item item-input user-edit-textarea">
            <textarea msd-elastic
                      placeholder="A little about your Club (optional)"
                      ng-model="ctrl.club.description"></textarea>
        </label>
    </div>
</ion-content>
