<ion-view hide-tabs>
    <ion-nav-buttons side="secondary">
        <button class="button button-clear"
                bi-click="ctrl.createClub()">
            Save
        </button>
    </ion-nav-buttons>
    <club-create></club-create>
</ion-view>
