<div class="text-center">

    <div class="profile-background"
         style="background-image: {{background(club)}}">
        <div class="background-overlay-profile"></div>
        <div class="col">
            <profile-image user="club" size="profile"></profile-image>
        </div>
        <div class="row">
            <div class="col profile-name">
                <h2>{{club.name}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col profile-location">
                <h4>{{club.location}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col profile-website">
                <h5 ng-bind-html="club.website | linky| hrefToJS">
                    {{club.website}}
                </h5>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="button-bar add-friend-btn"
                 ng-hide="club.role === 'admin'">
                <button class="button button-full button-energized"
                        ng-click="join(club.id)"
                        ng-show="!club.is_member">
                    <i class="icon ion-ios-plus-empty"></i>
                    Join
                </button>
                <button class="button button-full button-assertive"
                        ng-click="leave(club.id)"
                        ng-show="club.is_member">
                    <i class="icon ion-ios-minus-empty"></i>
                    Leave
                </button>
            </div>
        </div>
    </div>

    <div class="badge-list-profile">
        <div class="list">
            <div class="item">
                <h2>adventures created</h2>
                <span class="badge">{{club.adventures_count}}</span>
            </div>
        </div>
    </div>


    <div class="profile-info">
        <div ng-show="club.waiver_url">
            <div
                class="button button-full button-clear icon ion-document-text button-energized"
                ng-click="openWaiver()">
                View Club Waiver
            </div>
        </div>

        <!--<div>-->
        <!--<span-->
        <!--class="button button-clear icon ion-ios-people button-full button-energized"-->
        <!--ng-click="viewMembers()">-->
        <!--{{club.member_count}} members-->
        <!--</span>-->
        <!--</div>-->

        <div class="list list-inset" ng-if="club.is_member">
            <div class="item-divider">Notifications</div>
            <label class="item item-input item-select">
                <div class="input-label">
                    Adventure Invites
                </div>
                <select ng-model="club.adventure_invite">
                    <option>both</option>
                    <option>email</option>
                    <option>push</option>
                    <option>none</option>
                </select>
            </label>
            <!--<label class="item item-input item-select">-->
            <!--<div class="input-label">-->
            <!--Chats-->
            <!--</div>-->
            <!--<select ng-model="club.chat">-->
            <!--<option>both</option>-->
            <!--<option>email</option>-->
            <!--<option>push</option>-->
            <!--<option>none</option>-->
            <!--</select>-->
            <!--</label>-->
        </div>

        <div class="profile-description">
            <p>{{club.description}}</p>
        </div>
    </div>
</div>

