<ion-view class="login-wrapper" view-title="Sign-In">
    <ion-content>
        <div class="row">
            <img class="landing-logo" src="img/logo/yazda_image_only.svg">
        </div>
        <login-form></login-form>
    </ion-content>
</ion-view>

