<div class="row user-item" ng-class="{ 'selected' : checked(user)}">
    <div class="col col-25">
        <profile-image user="user" size="thumb-user"></profile-image>
    </div>
    <div class="col col-center col-75">
        <div>
            <h3 class="user-item-name">{{user.name}}</h3>
            <div class="user-item-check" ng-show="checked(user)">
                <i class="ion-ios-checkmark"></i>
            </div>
        </div>
        <p ng-bind-html="friendDisplay()">
        </p>
    </div>
</div>

