.wizard {
    width: 100%;
    height: 100%;
    ::-webkit-input-placeholder {
        color: darken($stable, 15%);
        opacity: 1;
    }
    :-moz-placeholder {
        /* Firefox 18- */
        color: darken($stable, 15%);
        opacity: 1;
    }
    ::-moz-placeholder {
        /* Firefox 19+ */
        color: darken($stable, 15%);
        opacity: 1;
    }
    :-ms-input-placeholder {
        color: darken($stable, 15%);
        opacity: 1;
    }
    ion-slide {
        background-size: cover !important;
        background-position: center;
        background-repeat: no-repeat
    }
    button {
        &.icon-large:before {
            line-height: 81px !important;
            font-size: 72px !important;
        }
        &.icon-xlarge:before {
            line-height: 111px !important;
            font-size: 102px !important;
        }
    }
    .wizard-content {
        z-index: 10;
        height: 100%;
        width: 100%;
    }
    .wizard-header {
        position: relative;
        text-align: center !important;
        height: 64px;
        background-color: rgba($energized, 0);
        color: $light;
        font-size: 18px;
        font-weight: 500;
        text-transform: capitalize;
        z-index: 11;
        padding-top: 32px !important;
        span {
            font-weight: 700;
            margin: 0;
            text-transform: uppercase;
        }
    }
    .friends-list-header {
        background-color: transparent;
    }
    .wizard-footer {
        background-color: $energized;
        z-index: 12;
        border: 0 !important;
        .button {
            color: $stable;
            font-size: 16px;
            text-transform: capitalize;
            border: 0;
            font-weight: 500;
        }
    }
    .wizard-background-color {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: $dark;
        z-index: 1;
        opacity: 0.4;
    }
    .wizard-background-img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-size: cover !important;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 1;
        &.slide1 {
            background-image: url(../img/wizard/welcome.jpg);
        }
        &.slide2 {
            background-image: url(../img/wizard/profile.jpg);
        }
        &.slide3 {
            background-image: url(../img/wizard/location.jpg);
        }
        &.slide4 {
            background-image: url(../img/wizard/bio.jpg);
        }
        &.slide5 {
            background-image: url(../img/wizard/adventure_type.jpg);
        }
        &.slide6 {
            background-image: url(../img/wizard/friends.jpg);
        }
        &.slide7 {
            background-image: url(../img/wizard/finished.jpg);
        }
    }
    .wizard-backpack {
        height: 150px;
    }
    .placeholder-icon {
        color: $balanced !important;
        opacity: 1 !important;
        font-size: 28px;
    }
    .wizard-bio-icon {
        margin-bottom: 95px;
        margin-right: 10px;
    }
    .wizard-compass {
        height: 125px;
        margin-top: -90px;
        margin-bottom: 90px;
    }
    .upload-photo-wrapper {
        width: 100%;
    }
    .epic-wizard-card {
        width: 100% !important;
        padding: 0 40px;
        color: $stable;
        text-align: center;
        h2 {
            font-weight: 300;
            span {
                font-weight: 500;
            }
        }
        p {
            font-size: 18px;
            font-weight: 500;
        }
        .button {
            color: $energized;
            &:hover {
                color: $balanced;
            }
        }
        .item-input {
            background-color: transparent;
            //-webkit-box-shadow: 0 0 0 5px rgba($darker, 0.5);
            //-moz-box-shadow: 0 0 0 5px rgba($darker, 0.5);
            //box-shadow: 0 0 0 5px rgba($darker, 0.5);
            input, textarea {
                color: $stable !important;
                font-size: 14px;
                font-weight: 500;
                line-height: 1.2em;
            }
        }
        .wizard-input-location {
            margin-bottom: 250px !important;
            border-bottom: 1px solid rgba($stable, 0.75) !important;
        }
        .wizard-input-bio {
            margin-bottom: 150px !important;
            border-right: 1px solid rgba($stable, 0.75) !important;
            border-left: 1px solid rgba($stable, 0.75) !important;
            border-bottom: 1px solid rgba($stable, 0.75) !important;
        }
        textarea {
            height: 150px !important;
        }
    }
    .wizard-adventure-select {
        padding: 0 20px;
        white-space: nowrap;
        text-align: center;
        .button {
            display: inline;
            overflow: hidden !important;
            font-size: 72px;
            max-height: 70px !important;
            margin: 0 !important;
        }
        h3 {
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
            margin: 0 0 20px 0;
            &.text-realign {
                margin-left: -13px;
            }
        }
    }
    .wizard-friends-list {
        .item-body {
            margin: 0;
            padding: 0;
            background-color: transparent;
            border: 0;
        }
        .list {
            .item {
                padding: 0 20px 15px 20px;
                background-color: rgba($darker, 0.8);
                border: 0;
            }
            .item-divider {
                margin: 0;
                padding: 10px;
                font-size: 16px;
                text-align: center;
                background-color: rgba($dark-light, 0.8);
                border: 0;
                text-transform: capitalize;
                color: $stable;
            }
            margin-bottom: 44px;
        }
        .user-name,
        .user-location {
            color: $stable;
            margin-top: 10px;
            white-space: nowrap;
            width: 80%;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .user-location {
            font-size: 14px;
            opacity: 0.75;
        }
        .button {
            position: absolute;
            top: 25px;
            right: 10px;
            color: $balanced;

            .active {
                color: darken($balanced, 10%);
            }
        }
    }
    @media (max-width: 340px) {
        .wizard {
            .epic-wizard-card {
                padding: 40px !important;
            }
        }
        .wizard-compass {
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .wizard-adventure-select {
            padding: 0 20px;
            white-space: normal !important;
            h3 {
                &.text-realign {
                    margin-left: -7px !important;
                    width: 120% !important;
                }
            }
        }
    }
}
