<ion-nav-bar class="bar-positive">
  <ion-nav-back-button class="button-clear">
  </ion-nav-back-button>
</ion-nav-bar>
<ion-tabs class="tabs-icon-top tabs-positive" ng-class="{ 'tabs-item-hide' : $root.hideTabs }">
  <ion-tab title="Adventures"
           icon="tab-icon yazdaicon mountain"
           ui-sref="loggedIn.adventures-index">
    <ion-nav-view name="adventure-view"></ion-nav-view>
  </ion-tab>
    <ion-tab title="Invites"
             icon="tab-icon ion-ios-personadd"
             ui-sref="loggedIn.invites-index"
             badge="$root.adventure_badge"
             badge-style="badge-energized"
             on-select="onInvites()">
        <ion-nav-view name="invite-view"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Clubs"
             icon="tab-icon ion-ribbon-b"
             ui-sref="loggedIn.clubs-index">
        <ion-nav-view name="club-view"></ion-nav-view>
    </ion-tab>
  <ion-tab title="Profile"
           icon="tab-icon yazdaicon backpack"
           ui-sref="loggedIn.profile-show"
           badge="$root.friend_request_badge"
           badge-style="badge-energized"
           on-select="onProfile()">
    <ion-nav-view name="profile-view"></ion-nav-view>
  </ion-tab>
  <ion-tab title="More"
           icon="tab-icon yazdaicon bike_chain"
           ui-sref="loggedIn.more-index">
    <ion-nav-view name="more-view"></ion-nav-view>
  </ion-tab>
</ion-tabs>
