@font-face {
    font-family: 'yazda';
    src:    url('../fonts/yazda/fonts/yazda.eot?fxnayk');
    src:    url('../fonts/yazda/fonts/yazda.eot?fxnayk#iefix') format('embedded-opentype'),
        url('../fonts/yazda/fonts/yazda.ttf?fxnayk') format('truetype'),
        url('../fonts/yazda/fonts/yazda.woff?fxnayk') format('woff'),
        url('../fonts/yazda/fonts/yazda.svg?fxnayk#yazda') format('svg');
    font-weight: normal;
    font-style: normal;
}

.yazdaicon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'yazda' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mountain_biking:before {
    content: "\e905";
}
.biking_noline:before {
    content: "\e903";
}
.biking:before {
    content: "\e902";
}
.running:before {
    content: "\e906";
}
.trail_running:before {
    content: "\e907";
}
.hiking:before {
    content: "\e904";
}
.mountain:before {
    content: "\e908";
}
.backpack:before {
    content: "\e900";
}
.bike_chain:before {
    content: "\e901";
}

