<div class="list list-inset adventure-edit-wrapper">
    <label class="item item-input">
        <i class="form-icon yazdaicon {{adventure.adventure_type}}"></i>
        <input placeholder="Adventure Name" ng-model="adventure.name"
               type="text" />
    </label>

    <!--TODO only display based on user preferences-->
    <label class="item item-input item-select">
        <i class="placeholder-icon ion-ios-help-outline"></i>
        <select placeholder="Type" ng-model="adventure.adventure_type">
            <option value="mountain_biking"
                    ng-if="ctrl.me.views_mountain_biking">
                Mountain Biking
            </option>
            <option value="biking"
                    ng-if="ctrl.me.views_biking">Road Biking</option>
            <!--TODO adventure types-->
            <!--<option value="running" ng-if="ctrl.me.views_running">Running</option>-->
            <!--<option value="trail_running" ng-if="ctrl.me.views_trail_running">Trail Running</option>-->
            <option value="hiking" ng-if="ctrl.me.views_hiking">Hiking</option>
        </select>
    </label>


    <label class="item item-input new-adventure-input edit-adventure-input">
        <textarea
            placeholder="Description (for example difficulty, pace, mileage, and post adventure celebration)"
            ng-model="adventure.description"></textarea>
    </label>

    <label class="item-input"
           ng-class="{ 'has-error' : basicForm.start_time.$invalid}">
        <i class="placeholder-icon ion-ios-stopwatch-outline"></i>&nbsp;
        <span class="input-label">Start Time</span>
        <input type="datetime-local" class="form-control" name="start_time"
               required ng-model="adventure.start_time">
    </label>

    <label class="item-input"
           ng-class="{ 'has-error' : basicForm.end_time.$invalid}">
        <i class="placeholder-icon ion-ios-stopwatch"></i>&nbsp;
        <span class="input-label">End Time</span>
        <input type="datetime-local" class="form-control" name="end_time"
               required ng-model="adventure.end_time">
    </label>

    <label class="item item-input new-adventure-input">
        <span class="input-label">Max Attendees</span>
        <input class="new-adventure-attendees" ng-model="adventure.reservation_limit" type="tel" placeholder="&infin;" />
    </label>

    <ion-toggle class="adventure-toggle" ng-model="adventure.public">Public
    </ion-toggle>

    <label class="item item-input">
        <i class="placeholder-icon ion-ios-search-strong"></i>
        <input places-auto-complete types="['geocode','establishment']"
               ng-model="adventure.address"
               on-place-changed="ctrl.placeChanged()" type="search"
               ng-focus="disableTap()" id="edit-places"/>
    </label>

    <map map-type-control="false" street-view-control="false"
         center="{{adventure.lat}},{{adventure.lon}}" zoom="12"
         data-tap-disabled="true" on-click="ctrl.setMarker()">
        <marker position="[{{adventure.lat}},{{adventure.lon}}]"
                draggable="false">
        </marker>
    </map>

    <button class="button button-block button-assertive cancel-adventure-btn"
            ng-click="cancelAdventure(adventure.id)">
        <i class="icon ion-trash-a"></i>&nbsp; Cancel Adventure
    </button>
</div>

