<div class="row">
    <div class="col-20">
        <div class="row">
            <profile-image user="invite.adventure.owner" size="thumb-invite"
                           ui-sref="loggedIn.invite-user-show({id: invite.adventure.owner.id })"></profile-image>
        </div>
    </div>
    <div class="col-80">
        <div class="row" ui-sref="loggedIn.invite-adventures-show({id: invite.adventure.id})">
            <div class="col">
                <div class="row invite-time-stamp">
                    {{startTime(invite.adventure.start_time) }}
                </div>
                <div class="row adventure-type">
                    <adventure-type type="invite.adventure.adventure_type"></adventure-type>
                </div>
                <div class="row adventure-name">
                    {{invite.adventure.name}}
                </div>
                <div class="invite-location">
                    {{invite.adventure.address}}
                </div>
            </div>
        </div>
    </div>
    <div class="event-badges">
        <div class="badge-sponsored sm" ng-if="invite.adventure.sponsered">
        </div>
        <div class="badge-paid sm" ng-if="invite.adventure.cost">
        </div>
        <div class="badge-hour sm" ng-if="invite.adventure.duration_in_minutes > 1439">
        </div>
    </div>
</div>
<div class="row">
    <adventure-respond-to adventure="invite.adventure" success="callback()"></adventure-respond-to>
</div>

