<ion-content>
    <div class="list list-inset text-center user-edit">

        <div class="profile-background" style="background-image: {{user.background()}}">
            <i class="icon ion-ios-cloud-upload upload-background" title="Upload Background"></i>
            <div class="background-overlay-profile"
                 ng-click="user.chooseWayToUploadPhoto(1125, 750, 'banner')">
            </div>
            <div class="col">
                <div class="circle profile profile-avatar" ng-click="user.chooseWayToUploadPhoto(275, 275, 'avatar')">
                    <img ng-src="{{user.data.profile_image_url}}" class="circle profile border-energized">
                    <div class="adventure-leader-badge" ng-if="user.data.is_adventure_leader">
                        <div class="badge-adventure-leader lg"></div>
                    </div>
                    <i class="icon ion-ios-cloud-upload upload-avatar" title="Upload Avatar"></i>
                </div>
            </div>
        </div>

        <label class="item item-input">
            <i class="ion-ios-search-strong placeholder-icon"></i>
            <input placeholder="Name" ng-model="user.data.name" type="text" />
        </label>
        <label class="item item-input">
            <i class="ion-ios-location placeholder-icon"></i>
            <input placeholder="Location (optional)" ng-model="user.data.location" places-auto-complete types="['(cities)']" ng-focus="user.disableTap()" type="search" id="places" />
        </label>
        <label class="item item-input user-edit-textarea">
            <textarea placeholder="A little about your amazing life... (optional)" ng-model="user.data.description"></textarea>
        </label>

        <li class="item item-divider">Show Me</li>
        <ion-toggle class="user-edit-toggle" ng-model="user.data.views_mountain_biking">mountain biking adventures
        </ion-toggle>
        <ion-toggle class="user-edit-toggle" ng-model="user.data.views_biking">
            road biking adventures
        </ion-toggle>
        <!--TODO allow new adventure types-->
        <ion-toggle class="user-edit-toggle"
                    ng-model="user.data.views_trail_running"
                    ng-hide="true">trail running adventures
        </ion-toggle>
        <ion-toggle class="user-edit-toggle" ng-model="user.data.views_running"
                    ng-hide="true">
            running adventures
        </ion-toggle>
        <ion-toggle class="user-edit-toggle" ng-model="user.data.views_hiking">
            hiking adventures
        </ion-toggle>
    </div>
</ion-content>

