<ion-view title="More" class="more-index">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <ul class="list">
            <li class="item item-divider">Account</li>
            <li class="item item-icon-left item-icon-right" ui-sref="loggedIn.settings">
                <i class="icon ion-gear-a"></i>
                <span>Settings</span>
                <i class="icon ion-ios-arrow-right"></i>

            </li>
            <li class="item item-icon-left item-icon-right" ng-click="more.facebook()" ng-hide="more.data.has_facebook">
                <i class="icon ion-log-in"></i>
                <span>Connect With Facebook</span>
            </li>
            <li class="item item-icon-left item-icon-right" ng-click="more.strava()" ng-hide="more.data.has_strava">
                <i class="icon ion-log-in"></i>
                <span>Connect With Strava</span>
            </li>
            <li class="item item-icon-left item-icon-right" ng-click="more.inviteFacebookFriends()">
                <i class="icon ion-ios-personadd"></i>
                <span>Invite your friends to Yazda</span>
            </li>
            <li class="item item-divider">Contact Us</li>
            <li class="item item-icon-left item-icon-right" ng-click="more.openFacebook()">
                <i class="icon ion-social-facebook"></i>
                <span>Facebook</span>
            </li>
            <li class="item item-icon-left item-icon-right" ng-click="more.openTwitter()">
                <i class="icon ion-social-twitter"></i>
                <span>Twitter</span>
            </li>
            <li class="item item-icon-left item-icon-right" ng-click="more.openYoutube()">
                <i class="icon ion-social-youtube"></i>
                <span>Youtube</span>
            </li>
            <li class="item item-icon-left item-icon-right" ng-click="more.openTrello()">
                <i class="icon ion-bug"></i>
                <span>Report a Bug</span>
            </li>
        </ul>
    </ion-content>
</ion-view>

