<div>
    <div class="adventure-type-list" ng-switch on="type">
        <div ng-switch-when="mountain_biking">
            <i class="yazdaicon mountain_biking"></i>&nbsp;Mountain Biking
        </div>
        <div ng-switch-when="biking">
            <i class="yazdaicon biking"></i>&nbsp;Road Biking
        </div>
        <div ng-switch-when="running">
            <i class="yazdaicon running"></i>&nbsp;Running
        </div>
        <div ng-switch-when="trail_running"><i
            class="yazdaicon trail_running"></i>&nbsp;Trail Running
        </div>
        <div ng-switch-when="hiking">
            <i class="yazdaicon hiking"></i>&nbsp;Hiking
        </div>
        <div ng-switch-default>No Type</div>
    </div>
</div>
