<ion-view title="Find Friends" hide-tabs>
    <ion-header-bar class="bar bar-subheader item-input-inset bar-positive">
        <label class="item-input-wrapper">
            <i class="placeholder-icon ion-ios-search-strong stable"></i>
            <input type="search" placeholder="Search for friends..." ng-model="search.query" ng-model-options="{ debounce: 750 }" />
        </label>
        <div class="buttons">
            <button class="button button-clear" ng-click="search.clear()">
                Cancel
            </button>
        </div>
    </ion-header-bar>
    <ion-content class="friends-list">
        <ion-refresher pulling-text="PULL TO REFRESH" pulling-icon="ion-ios-arrow-down" on-refresh="search.refresh()"></ion-refresher>
        <ion-list class="has-search">
            <ion-item collection-repeat="user in search.users | limitTo:pageSize">
                <user-item user="user" ui-sref="loggedIn.profile-users-show({id: user.id})"></user-item>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll ng-if="search.moreData()" on-infinite="search.loadNextPage()" distance="1%"></ion-infinite-scroll>
    </ion-content>
</ion-view>

