<ion-view title="New Adventure" hide-tabs hide-back-button="hasPreviousStep()">
    <ion-nav-buttons side="primary">
        <button class="button button-clear" ng-show="hasPreviousStep()"
                ng-click="previousStep()" ion-wizard-previous>
            Previous
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
        <button class="button button-clear" ng-show="hasNextStep()"
                ng-click="nextStep()" ion-wizard-next>
            Next
        </button>
        <button class="button button-clear"
                bi-click="adventure.createAdventure()"
                ng-show="step === 'invite_users'">
            Save
        </button>
        <button class="button button-clear" ng-show="step === 'success'"
                ng-click="navigateBackToAdventures()">Done
        </button>
    </ion-nav-buttons>
    <ion-header-bar class="bar bar-subheader item-input-inset bar-positive"
                    ng-show="step === 'invite_users'">
        <label class="item-input-wrapper">
            <i class="placeholder-icon ion-ios-search-strong"></i>
            <input type="search" placeholder="Search" ng-model="adventure.query"
                   ng-model-options="{ debounce: 750 }"/>
        </label>
        <div class="buttons">
            <button class="button button-clear" ng-click="adventure.clear()">
                Cancel
            </button>
        </div>
    </ion-header-bar>
    <back-button></back-button>
    <ion-slide-box ion-wizard show-pager="false">
        <!--Choose Adventure Type-->
        <ion-slide ion-wizard-step>
            <ion-wizard-content
                class="vertical-align new-adventure-wrapper select-adventure-wrapper">
                <h1 class="new-adventure-title">What's your
                    <span>adventure</span> style?</h1>
                <!--TODO display based on user preferences-->
                <div class="row">
                    <div class="col-50 text-center">
                        <h3 class="select-adventure-icon stable"
                            ng-click="adventure.chooseAdventureType('mountain_biking')">
                            <i class="yazdaicon mountain_biking"></i> Mountain
                                                                      Biking
                        </h3>
                    </div>
                    <div class="col-50 text-center">
                        <h3 class="select-adventure-icon stable"
                            ng-click="adventure.chooseAdventureType('biking')">
                            <i class="yazdaicon biking"></i> Road Biking
                        </h3>
                    </div>
                </div>
                <!--TODO add new adventure types-->
                <div class="row" ng-hide="true">
                    <div class="col-50 text-center">
                        <h3 class="select-adventure-icon stable"
                            ng-click="adventure.chooseAdventureType('trail_running')">
                            <i class="yazdaicon trail_running"></i> Trail
                                                                    Running
                        </h3>
                    </div>
                    <div class="col-50 text-center">
                        <h3 class="select-adventure-icon stable"
                            ng-click="adventure.chooseAdventureType('running')">
                            <i class="yazdaicon running"></i> Running</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-50 text-center">
                        <h3 class="select-adventure-icon stable"
                            ng-click="adventure.chooseAdventureType('hiking')">
                            <i class="yazdaicon hiking"></i> Hiking</h3>
                    </div>
                </div>
            </ion-wizard-content>
        </ion-slide>
        <!--Choose Location-->
        <ion-slide ion-wizard-step next-condition="adventure.address">
            <ion-wizard-content class="has-header new-adventure-map"
                                scroll="false">
                <label class="item-input">
                    <i class="placeholder-icon ion-ios-search-strong"></i>
                    <input places-auto-complete
                           placeholder="Where are you adventuring?"
                           types="['geocode','establishment']"
                           ng-model="adventure.address"
                           on-place-changed="adventure.placeChanged()"
                           type="search" ng-focus="adventure.disableTap()"
                           id="places"/>
                </label>
                <map class="location-map" style="height: 100% !important;"
                     map-type-control="false" street-view-control="false"
                     center="{{adventure.map_lat}},{{adventure.map_lon}}"
                     zoom="12" data-tap-disabled="true"
                     on-click="adventure.setMarker()">
                    <marker position="[{{adventure.lat}},{{adventure.lon}}]"
                            visible="{{adventure.displayMarker}}"
                            draggable="false">
                    </marker>
                </map>
            </ion-wizard-content>
        </ion-slide>
        <!--Basic-->
        <ion-slide ion-wizard-step
                   next-condition="adventure.name.length > 4 && adventure.start_time && adventure.end_time">
            <ion-wizard-content class="has-header" scroll="false">
                <form name="basicForm">
                    <div class="list">
                        <label class="item-input"
                               ng-class="{ 'has-error' : basicForm.name.$invalid}">

                            <i class="form-icon yazdaicon {{adventure.adventure_type}}"></i>
                            <input class="new-adventure-name"
                                   placeholder="Adventure Name" name="name"
                                   ng-model="adventure.name" ng-minlength="5"
                                   ng-maxlength="255" required type="text"/>
                        </label>
                        <div class="form-errors"
                             ng-if="basicForm.name.$invalid && basicForm.name.$dirty"
                             ng-messages="basicForm.name.$error">
                            <div ng-message="required">
                                Adventure Name is required.
                            </div>
                            <div ng-message="maxlength">
                                Adventure Name can be at most 255 characters
                                long.
                            </div>
                            <div ng-message="minlength">
                                Adventure Name must be at least 5 characters.
                            </div>
                        </div>
                        <label class="item item-input item-select"
                               ng-if="clubs.length > 0">
                            <i class="placeholder-icon ion-ios-help-outline"></i>
                            <select placeholder="Club"
                                    ng-model="adventure.club_id">
                                <option value="" selected>
                                    Not a club adventure
                                </option>
                                <option
                                    ng-repeat="club in clubs"
                                    value="{{club.id}}">
                                    {{club.name}}
                                </option>
                            </select>
                        </label>
                        <label class="item-input new-adventure-input"
                               ng-class="{ 'has-error' : basicForm.description.$invalid}">
                            <textarea
                                placeholder="Description (for example difficulty, pace, mileage, and post adventure celebration)"
                                ng-model="adventure.description"
                                name="description"
                                ng-maxlength="50000"></textarea>
                        </label>
                        <div class="form-errors"
                             ng-if="basicForm.description.$invalid && basicForm.description.$dirty"
                             ng-messages="basicForm.description.$error">
                            <div ng-message="maxlength">
                                Adventure description can be at most 50,000
                                characters.
                            </div>
                        </div>
                        <label class="item-input"
                               ng-class="{ 'has-error' : basicForm.start_time.$invalid}">
                            <i class="placeholder-icon ion-ios-stopwatch-outline"></i>&nbsp;
                            <span class="input-label">Start Time</span>
                            <input type="datetime-local" class="form-control"
                                   name="start_time" required
                                   ng-model="adventure.start_time">
                        </label>
                        <div class="form-errors"
                             ng-if="basicForm.start_time.$invalid && basicForm.start_time.$dirty"
                             ng-messages="basicForm.start_time.$error">
                            <div ng-message="required">
                                Adventure Start Time is required.
                            </div>
                        </div>
                        <label class="item-input"
                               ng-class="{ 'has-error' : basicForm.end_time.$invalid}">
                            <i class="placeholder-icon ion-ios-stopwatch"></i>&nbsp;
                            <span class="input-label">End Time</span>
                            <input type="datetime-local" class="form-control"
                                   name="end_time" required
                                   ng-model="adventure.end_time">
                        </label>
                        <div class="form-errors"
                             ng-if="basicForm.end_time.$invalid && basicForm.end_time.$dirty"
                             ng-messages="basicForm.end_time.$error">
                            <div ng-message="required">
                                Adventure End Time is required.
                            </div>
                        </div>
                        <label class="item-input new-adventure-input">
                            <span class="input-label">Max Attendees</span>
                            <input class="new-adventure-attendees"
                                   ng-model="adventure.reservation_limit"
                                   type="tel" placeholder="&infin;"/>
                        </label>

                        <ion-toggle class="adventure-toggle"
                                    ng-model="adventure.public">Public
                        </ion-toggle>

                    </div>
                </form>
            </ion-wizard-content>
        </ion-slide>
        <!--Invite Users-->
        <ion-slide ion-wizard-step>
            <ion-wizard-content class="has-header">
                <ion-list>
                    <ion-item class="user-item-wrapper"
                              collection-repeat="user in adventure.foundUsers| limitTo:pageSize">
                        <user-item user="user" ng-click="addToUsers(user)"
                                   checked="checked(user)"></user-item>
                    </ion-item>
                </ion-list>
                <ion-infinite-scroll ng-if="moreData()"
                                     on-infinite="loadNextPage()"
                                     distance="1%"></ion-infinite-scroll>
            </ion-wizard-content>
        </ion-slide>
        <!--Finish and share-->
        <ion-slide ion-wizard-step>
            <div class="epic-background"
                 style="{{background()}}"></div>
            <div class="background-overlay"></div>
            <ion-wizard-content
                class="vertical-align new-adventure-epic-finish">
                <h2 class="epic-text">Your adventure sounds <span>epic!</span>
                </h2>
                <p>Keep inspiring people to Discover Adventure!</p>
                <div class="row" ng-hide="adventure.saved.private">
                    <h3 class="share-with-friends">Share with Friends!</h3>
                </div>
                <div class="row social-share" ng-hide="adventure.saved.private">
                    <div class="col-25 text-center">
                        <button
                            class="button icon ion-social-facebook button-facebook"
                            ng-click="shareViaFB(adventure.saved.id)"
                            title="Facebook"></button>
                    </div>
                    <div class="col-25 text-center">
                        <button
                            class="button icon ion-social-twitter button-twitter"
                            ng-click="shareViaTwitter(adventure.saved.id)"
                            title="Twitter"></button>
                    </div>
                    <div class="col-25 text-center">
                        <button class="button icon button-message
                        {{ionic.Platform.isIOS ? 'ion-chatbubble-working' : 'ion-chatbubble-working'}}"
                                ng-click="shareViaSMS(adventure.saved.id)"
                                title="Message">
                        </button>
                    </div>
                    <div class="col-25 text-center">
                        <button class="button icon button-email ion-email"
                                ng-click="shareViaEmail(adventure.saved.id)"
                                title="Email">
                        </button>
                    </div>
                </div>
            </ion-wizard-content>
        </ion-slide>

    </ion-slide-box>
</ion-view>

