<ion-view class="wizard">
    <ion-slide-box ion-wizard show-pager="false">
        <!--Welcome screen-->
        <ion-slide ion-wizard-step>
            <div class="wizard-background-img slide1"></div>
            <div class="wizard-background-color"></div>
            <div class="wizard-header">
                Welcome to Yazda
            </div>
            <ion-wizard-content class="vertical-align wizard-content">
                <div class="epic-wizard-card">
                    <img class="wizard-packpack" src="img/wizard/backpack.svg">
                    <h2>Grab your pack, don't look back, bring a snack, and <span>enjoy the track!</span></h2>
                </div>
            </ion-wizard-content>
            <div class="bar bar-footer wizard-footer">
                <div class="button-bar">
                    <button class="button button-clear" ion-wizard-next>
                        <i class="ion-compass"></i>
                        Get started
                    </button>
                </div>
            </div>
        </ion-slide>
        <!-- Profile Image -->
        <ion-slide ion-wizard-step ng-if="!ctrl.data.has_facebook">
            <div class="wizard-background-img slide2"></div>
            <div class="wizard-background-color"></div>
            <div class="wizard-header">
                I'm Adventurous. There's Proof!
            </div>
            <ion-wizard-content class="vertical-align wizard-content">
                <div class="epic-wizard-card">
                    <button ng-click="ctrl.chooseWayToUploadPhoto()" class="button icon-xlarge energized button-icon icon {{ctrl.upload_icon}}">
                    </button>
                    <h2 ng-click="ctrl.chooseWayToUploadPhoto()">
                        Upload Photo
                    </h2>
                </div>
            </ion-wizard-content>
            <div class="bar bar-footer wizard-footer">
                <div class="button-bar">
                    <button class="button button-clear" ion-wizard-next>
                        Skip
                        <i class="ion-chevron-right"></i>
                    </button>
                </div>
            </div>
        </ion-slide>
        <!--Profile Location-->
        <ion-slide ion-wizard-step>
            <div class="wizard-background-img slide3"></div>
            <div class="wizard-background-color"></div>
            <div class="wizard-header">
                Where's <span>your</span> "trailhead"?
            </div>
            <ion-wizard-content class="vertical-align wizard-content">
                <div class="epic-wizard-card">
                    <h2>I live in</h2>
                    <label class="item-input wizard-input-location">
                        <i class="ion-ios-location placeholder-icon wizard-location"></i>
                        <input ng-model="ctrl.data.location" places-auto-complete types="['(cities)']" placeholder="(City, State)" ng-focus="ctrl.disableTap()" type="search" id="places-wizard" />
                    </label>
                </div>
            </ion-wizard-content>
            <div class="bar bar-footer wizard-footer">
                <div class="button-bar">
                    <button class="button button-clear" ion-wizard-next>
                        Next
                        <i class="ion-chevron-right"></i>
                    </button>
                </div>
            </div>
        </ion-slide>
        <!--Profile Description-->
        <ion-slide ion-wizard-step>
            <div class="wizard-background-img slide4"></div>
            <div class="wizard-background-color"></div>
            <div class="wizard-header">
                Share your Story
            </div>
            <ion-wizard-content class="vertical-align wizard-content">
                <div class="epic-wizard-card">
                    <h2>Bio</h2>
                    <label class="item-input wizard-input-bio">
                        <i class="ion-edit placeholder-icon wizard-bio-icon"></i>
                        <textarea ng-model="ctrl.data.description" placeholder="I don't let flat tires or broken chains slow me down. Give me some sweet trails and I'm ready to go.">
                        </textarea>
                    </label>
                </div>
            </ion-wizard-content>
            <div class="bar bar-footer wizard-footer">
                <div class="button-bar">
                    <button class="button button-clear" ion-wizard-next>
                        Next
                        <i class="ion-chevron-right"></i>
                    </button>
                </div>
            </div>
        </ion-slide>
        <!--Profile interests-->
        <ion-slide ion-wizard-step>
            <div class="wizard-background-img slide5"></div>
            <div class="wizard-background-color"></div>
            <div class="wizard-header">
                What's <span>your</span> adventure style?
            </div>
            <ion-wizard-content class="vertical-align wizard-content">
                <div class="epic-wizard-card">
                    <h2>Select:</h2>
                    <div class="row">
                        <div class="col-50 wizard-adventure-select">
                            <button ng-click="ctrl.toggle('views_mountain_biking')" class="button button-clear
                                    {{ctrl.interestedIn('views_mountain_biking')}}">
                            </button>
                            <h3 class="text-realign" ng-click="ctrl.toggle('views_mountain_biking')">
                                    Mountain Biking</h3>
                        </div>
                        <div class="col-50 wizard-adventure-select">
                            <button ng-click="ctrl.toggle('views_biking')" class="button button-clear
                                    {{ctrl.interestedIn('views_biking')}}">
                            </button>
                            <h3 ng-click="ctrl.toggle('views_biking')">
                                    Road Biking</h3>
                        </div>
                    </div>
                    <!--TODO allow new adventure types-->
                    <div class="row" ng-hide="true">
                        <div class="col-50 wizard-adventure-select">
                            <button ng-click="ctrl.toggle('views_trail_running')" class="button button-clear
                                    {{ctrl.interestedIn('views_trail_running')}}">
                            </button>
                            <h3 ng-click="ctrl.toggle('views_trail_running')">
                                    Trail Running</h3>
                        </div>
                        <div class="col-50 wizard-adventure-select">
                            <button ng-click="ctrl.toggle('views_running')" class="button button-clear
                                    {{ctrl.interestedIn('views_running')}}">
                            </button>
                            <h3 ng-click="ctrl.toggle('views_running')">
                                    Running</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-50 wizard-adventure-select">
                            <button ng-click="ctrl.toggle('views_hiking')" class="button button-clear
                                    {{ctrl.interestedIn('views_hiking')}}">
                            </button>
                            <h3 ng-click="ctrl.toggle('views_hiking')">
                                    Hiking</h3>
                        </div>
                    </div>
                </div>
            </ion-wizard-content>
            <div class="bar bar-footer wizard-footer">
                <div class="button-bar">
                    <button class="button button-clear" ng-click="ctrl.updateProfile()" ng-disabled="!(ctrl.data.views_hiking || ctrl.data.views_mountain_biking)">
                        Next
                        <i class="ion-chevron-right"></i>
                    </button>
                </div>
            </div>
        </ion-slide>
        <!-- Friends -->
        <ion-slide ion-wizard-step>
            <div class="wizard-background-img slide6"></div>
            <div class="wizard-background-color"></div>
            <ion-wizard-content class="wizard-content">
                <div class="wizard-header friends-list-header">
                    Find Friends!
                </div>
                <div class="wizard-friends-list">
                    <div class="item item-body">
                        <div class="list">
                            <div class="item item-divider" ng-if="ctrl.data.has_facebook">
                                Facebook
                            </div>
                            <div class="item" ng-click="more.inviteFacebookFriends()" ng-if="ctrl.data.has_facebook">
                                <i class="ion-social-facebook"></i>
                                &nbsp;Invite your friends to Yazda
                            </div>
                            <div class="item item-divider" ng-if="ctrl.appUsers.length > 0">
                                <i class="ion-android-arrow-dropdown"> Adventurers you might know</i>
                            </div>
                            <div ng-repeat="user in ctrl.appUsers" class="item">
                                <div class="row">
                                    <div class="col-25">
                                        <profile-image user="user"
                                                       size="thumb-invite"></profile-image>
                                    </div>
                                    <div class="col-center col-75">
                                        <div class="user-name">{{user.name}}</div>
                                        <button class="button button-clear icon {{ctrl.requestedFriend(user.id) ? 'ion-person button-assertive' : 'ion-person-add' }}" ng-click="ctrl.requestFriend(user.id)" ng-disabled="ctrl.requestedFriend(user.id)"></button>
                                        <div class="user-location">{{user.location}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item item-divider" ng-if="ctrl.inviteToAppUsers.length > 0">
                                Invite to Yazda
                            </div>
                            <div ng-repeat="user in ctrl.inviteToAppUsers" class="item">
                                <div class="row">
                                    <div class="col col-center">
                                        <div class="user-name">{{user.name}}</div>
                                        <button
                                            ng-click="ctrl.requestEmailFriend(user.emails[0])" class="button button-clear icon ion-paper-airplane {{ctrl.requestedFriend(user.emails[0]) ? 'active' : '' }}"></button>
                                        <div class="user-location">{{user.emails[0]}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-wizard-content>
            <div class="bar bar-footer wizard-footer">
                <div class="button-bar">
                    <button class="button button-clear" ng-click="ctrl.emailPotentialFriends()">
                        Next
                        <i class="ion-chevron-right"></i>
                    </button>
                </div>
            </div>
        </ion-slide>
        <!--Congratulate on finishing profile-->
        <ion-slide ion-wizard-step>
            <div class="wizard-background-img slide7"></div>
            <div class="wizard-background-color"></div>
            <div class="wizard-header">
                You're Awesome!
            </div>
            <ion-wizard-content class="vertical-align wizard-content">
                <div class="epic-wizard-card">
                    <img class="wizard-compass" src="img/wizard/compass.svg">
                    <h2>Now that you've got your gear together, go out and create your <span>epic adventure now!</span></h2>
                </div>
            </ion-wizard-content>
            <div class="bar bar-footer wizard-footer">
                <div class="button-bar">
                    <button class="button button-clear" ui-sref="loggedIn.adventures-new">
                        <i class="ion-plus"></i>
                        Create!
                    </button>
                    <button class="button" ui-sref="loggedIn.adventures-index">
                        <i class="yazdaicon mountain"></i>
                        Find
                    </button>
                </div>
            </div>
        </ion-slide>
    </ion-slide-box>
</ion-view>

