<div>
    <button class="button button-block facebook-login-button" ng-click="facebook()">
        <i class="ion-social-facebook"></i>&nbsp; Login with Facebook
    </button>
    <button class="button button-block strava-login-button" ng-click="strava()">
        <img src="img/logo/strava.svg"> Login with Strava
    </button>
    <div class="row">
        <div class="col text-center">
            <h4 class="energized">OR</h4>
        </div>
    </div>
</div>

