<div class="row adventure-item">
    <div class="col">
        <div class="row" ui-sref="loggedIn.adventures-show({id: adventure.id})">
            <div class="col-80">
                <div class="adventure-type">
                    <adventure-type
                        type="adventure.adventure_type"></adventure-type>
                </div>
                <div class="adventure-name">
                    {{adventure.name}}
                </div>
                <div class="adventure-location">
                    {{adventure.address}}
                </div>
                <div class="adventure-number">
                    {{adventure.attendings.length + 1}} Adventurers
                    <span class="rsvp small" ng-if="adventure.reservation_limit">
                        {{spotsLeft()}}</span>
                </div>
            </div>
            <div class="col-20" style="text-align: right;">
                <div class="adventure-time-stamp">
                    {{startTime(adventure.start_time)}}
                </div>
                <div class="adventure-badges">
                    <div class="badge-sponsored sm"
                         ng-if="adventure.sponsored">
                    </div>
                    <div class="badge-paid sm" ng-if="adventure.cost">
                    </div>
                    <div class="badge-hour sm"
                         ng-if="adventure.duration_in_minutes > 1439">
                    </div>
                </div>
            </div>
        </div>
        <div class="row adventure-avatar">
            <user-collection invites="attending"
                             owner="adventure.owner"></user-collection>
        </div>
    </div>

</div>

