<ion-view title="Settings" class="settings-index">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-buttons side="secondary">
            <button class="button button-clear"
                    bi-click="settings.updateSettings()">Save
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="list list-inset">
            <div class="item-divider">Account</div>
            <label class="item item-input">
                <i class="ion-iphone placeholder-icon"></i>
                <input type="tel"
                       ng-model="settings.data.phone"
                       placeholder="Phone Number (Optional)"/>
            </label>

            <div class="item-divider">Email</div>
            <ion-toggle class="settings-toggle" ng-model="settings.data.newsletter">
                Receive Newsletter
            </ion-toggle>

            <div class="item-divider">Notifications</div>
            <label class="item item-input item-select">
                <div class="input-label">
                    Adventure Invites
                </div>
                <select ng-model="settings.data.adventure_invite">
                    <option>both</option>
                    <option>email</option>
                    <option>push</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Adventure Updates
                </div>
                <select ng-model="settings.data.adventure_edit">
                    <option>both</option>
                    <option>email</option>
                    <option>push</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Adventure Cancellations
                </div>
                <select ng-model="settings.data.adventure_cancel">
                    <option>both</option>
                    <option>email</option>
                    <option>push</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Adventure Reminders
                </div>
                <select ng-model="settings.data.adventure_reminder">
                    <option>both</option>
                    <option>email</option>
                    <option>push</option>
                    <option>none</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    someone joins my adventure
                </div>
                <select ng-model="settings.data.adventure_joined">
                    <option>both</option>
                    <option>email</option>
                    <option>push</option>
                    <option>none</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Chat Messages
                </div>
                <select ng-model="settings.data.chat">
                    <option>both</option>
                    <option>email</option>
                    <option>push</option>
                    <option>none</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Friend Requests
                </div>
                <select ng-model="settings.data.friend">
                    <option>both</option>
                    <option>email</option>
                    <option>push</option>
                    <option>none</option>
                </select>
            </label>

        </div>
    </ion-content>
</ion-view>
