<ion-view title="Friends" hide-tabs>
    <ion-content class="friends-list">
        <ion-refresher pulling-text="PULL TO REFRESH" pulling-icon="ion-ios-arrow-down" on-refresh="users.refresh()"></ion-refresher>
        <ion-list>
            <div collection-repeat="user in users.users | limitTo:users.pageSize">
                <ion-item>
                    <user-item user="user" ng-click="users.viewUser(user.id)"></user-item>
                </ion-item>
            </div>
        </ion-list>
        <ion-infinite-scroll ng-if="users.moreData()" on-infinite="users.loadNextPage()" distance="1%"></ion-infinite-scroll>
    </ion-content>
</ion-view>

