.login-wrapper {
  background-color: #1a1a1a;
  width: 100%;
  height: 100%; }
  .login-wrapper .landing-logo {
    width: 150px;
    height: 150px;
    margin: 30px auto 20px auto;
    z-index: 2;
    border-radius: 50%; }
  .login-wrapper .facebook-login-button,
  .login-wrapper .strava-login-button {
    color: #f1f1f1;
    border: 0;
    margin: 0 auto !important;
    width: 98%; }
    .login-wrapper .facebook-login-button:hover,
    .login-wrapper .strava-login-button:hover {
      color: #f1f1f1; }
  .login-wrapper .strava-login-button img {
    height: 20px !important;
    margin-bottom: -5px; }
  .login-wrapper .facebook-login-button {
    background-color: #3b5998; }
  .login-wrapper .strava-login-button {
    background-color: #E34402;
    margin-top: 3px !important; }
  .login-wrapper input {
    margin: 0 !important;
    padding: 0 !important;
    color: #f1f1f1; }
  .login-wrapper .button-block {
    margin-bottom: 0; }
  .login-wrapper .help-wrapper button {
    white-space: nowrap; }
  .login-wrapper .terms {
    color: #515151;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 10px;
    text-align: center; }
